In [1]:
import pandas as pd

In [2]:
import numpy as np

# Importar datasets

path_defunciones = "D:\Datasets\defunciones_deis_abierto\DEF_1990_2018.csv"
path_poblacion = "D:\Datasets\poblacion\pob_ine_censo2017_proyecciones.xlsx"
path_poblacion_mundial = "D:\Datasets\poblacion\world_population_bysex.csv"

In [3]:
path_defunciones = "/Users/alvaro/Documents/Data_Science/datasets/defunciones/DEF_2010_2018.csv"
path_poblacion = "/Users/alvaro/Documents/Data_Science/datasets/poblacion/estimaciones-y-proyecciones-2002-2035-comunas.xlsx"
path_poblacion_mundial = "/Users/alvaro/Documents/Data_Science/datasets/poblacion/population_word_average20122013.csv"

In [4]:
df = pd.read_csv(path_defunciones, sep=';', encoding='Latin',
                                     dtype={21: str, 36: str, 37: str, 38: str, 39: str,
                                            40: str, 41: str, 42: str, 43: str, 44: str,
                                            45: str, 46: str, 47: str, 48: str, 49: str,
                                            50: str, 58: str, 60: str, 64: str, 67: str,
                                            69: str, 70: str, 71: str, 73: str, 76: str,
                                            82: str, 86: str, 89: str, 90: str, 91: str,
                                            93: str, 96: str, 97: str, 98: str, 99: str,
                                            100: str})

In [5]:
df_ = pd.read_excel(path_poblacion)

In [6]:
df_wp = pd.read_csv(path_poblacion_mundial, sep=';', encoding='Latin')

# Reducir datasets con las variables necesarias para el análisis

## Poblaciones 2011 y 2014

In [7]:
df_poblacion = df_[['Region', 'Nombre Region', 'Provincia', 'Nombre Provincia',
                   'Comuna', 'Nombre Comuna', 'Sexo', 'Edad', 'Poblacion 2011', 'Poblacion 2014']].copy()

In [8]:
id(df_)

5001223424

In [9]:
id(df_poblacion)

5001185792

## Variables seleccionadas para las Defunciones

In [10]:
columnas = list()

In [11]:
contador=0
for i in df.isna().sum().values.tolist():
    columnas.append(df.columns.values.tolist()[contador])
    columnas.append(i)
    contador+=1

In [12]:
df_defunciones = df[['ID_FALLECIDO', 'DIA_DEF', 'MES_DEF', 'ANO_DEF', 'FECHA_DEF', 'SEXO', 'GLOSA_SEXO',
                     'FECHA_NACIMIENTO', 'EDAD_CANT', 'EDAD_TIPO', 'GLOSA_EDAD_TIPO', 'OCUPACION', 'GLOSA_OCUPACION',
                     'CATEGORIA', 'GLOSA_CATEGORIA', 'REG_RES', 'GLOSA_REG_RES', 'COMUNA', 'GLOSA_COMUNA_RESIDENCIA',
                     'URBANO_RURAL', 'DIAG1', 'GLOSA_SUBCATEGORIA_DIAG1', 'CODIGO_CATEGORIA_DIAG1', 'GLOSA_CATEGORIA_DIAG1',
                     'CODIGO_GRUPO_DIAG1', 'GLOSA_GRUPO_DIAG1', 'CAPITULO_DIAG1', 'GLOSA_CAPITULO_DIAG1']]

In [13]:
df_defunciones.head()

,ID_FALLECIDO,DIA_DEF,MES_DEF,ANO_DEF,FECHA_DEF,SEXO,GLOSA_SEXO,FECHA_NACIMIENTO,EDAD_CANT,EDAD_TIPO,...,GLOSA_COMUNA_RESIDENCIA,URBANO_RURAL,DIAG1,GLOSA_SUBCATEGORIA_DIAG1,CODIGO_CATEGORIA_DIAG1,GLOSA_CATEGORIA_DIAG1,CODIGO_GRUPO_DIAG1,GLOSA_GRUPO_DIAG1,CAPITULO_DIAG1,GLOSA_CAPITULO_DIAG1
0,5CE4D7C72073E82F977FD1FAF59C7C9DF75EDBE5,21.0,12,2018,2018-12-21,2,Mujer,1960-09-11,58,1,...,Puerto Montt,1,C189,"TUMOR MALIGNO DEL COLON, PARTE NO ESPECIFICADA",C18,Tumor maligno del colon,C15-C26,Tumores malignos de los órganos digestivos,C00-D48,Tumores [Neoplasias]
1,B8BA0A061245955D2D32A4A9CADC36FA21030FC5,7.0,4,2018,2018-04-07,2,Mujer,1961-06-13,56,1,...,Estación Central,1,I710,DISECCION DE AORTA (CUALQUIER PARTE),I71,Aneurisma y disección aórticos,I70-I79,"Enfermedades de las arterias, de las arteriola...",I00-I99,Enfermedades del sistema circulatorio
2,4BF2BA7E947405362E9227808BAC8FBB29140883,29.0,3,2018,2018-03-29,1,Hombre,1962-03-11,56,1,...,Cisnes,1,J988,OTROS TRASTORNOS RESPIRATORIOS ESPECIFICADOS,J98,Otros trastornos respiratorios,J95-J99,Otras enfermedades del sistema respiratorio,J00-J99,Enfermedades del sistema respiratorio
3,8095A9335642D38EB7E96B2057E444AD7D5A2B45,21.0,6,2018,2018-06-21,2,Mujer,1963-03-21,55,1,...,Huechuraba,1,C189,"TUMOR MALIGNO DEL COLON, PARTE NO ESPECIFICADA",C18,Tumor maligno del colon,C15-C26,Tumores malignos de los órganos digestivos,C00-D48,Tumores [Neoplasias]
4,AA67CF2FA18998CE68A8AF88560C795372132501,2.0,5,2018,2018-05-02,2,Mujer,1962-09-20,55,1,...,La Granja,1,I219,"INFARTO AGUDO DEL MIOCARDIO, SIN OTRA ESPECIFI...",I21,Infarto agudo del miocardio,I20-I25,Enfermedades isquémicas del corazón,I00-I99,Enfermedades del sistema circulatorio

In [14]:
df_defunciones.tail()

,ID_FALLECIDO,DIA_DEF,MES_DEF,ANO_DEF,FECHA_DEF,SEXO,GLOSA_SEXO,FECHA_NACIMIENTO,EDAD_CANT,EDAD_TIPO,...,GLOSA_COMUNA_RESIDENCIA,URBANO_RURAL,DIAG1,GLOSA_SUBCATEGORIA_DIAG1,CODIGO_CATEGORIA_DIAG1,GLOSA_CATEGORIA_DIAG1,CODIGO_GRUPO_DIAG1,GLOSA_GRUPO_DIAG1,CAPITULO_DIAG1,GLOSA_CAPITULO_DIAG1
913888,NaN,28.0,5,2017,2017-05-28,1,Hombre,1983-11-04,33,1,...,Santiago,1,T58X,EFECTO TOXICO DEL MONOXIDO DE CARBONO,T58,Efecto tóxico del monóxido de carbono,T51-T65,Efectos tóxicos de sustancias de procedencia p...,S00-T98,"Traumatismos, envenenamientos y algunas otras ..."
913889,NaN,26.0,11,2018,2018-11-26,1,Hombre,1986-02-22,32,1,...,Santa Cruz,1,T179,"CUERPO EXTRAÑO EN LAS VÍAS RESPIRATORIAS, PART...",T17,Cuerpo extraño en las vías respiratorias,T15-T19,Efectos de cuerpos extraños que penetran por o...,S00-T98,"Traumatismos, envenenamientos y algunas otras ..."
913890,NaN,8.0,7,2017,2017-07-08,1,Hombre,1983-09-09,33,1,...,Antofagasta,1,S269,"TRAUMATISMO DEL CORAZÓN, NO ESPECIFICADO",S26,Traumatismo del corazón,S20-S29,Traumatismos del tórax,S00-T98,"Traumatismos, envenenamientos y algunas otras ..."
913891,NaN,26.0,8,2017,2017-08-26,1,Hombre,1988-10-26,28,1,...,Iquique,1,T71X,ASFIXIA,T71,Asfixia,T66-T78,Otros efectos y los no especificados de causa...,S00-T98,"Traumatismos, envenenamientos y algunas otras ..."
913892,NaN,16.0,11,2018,2018-11-16,1,Hombre,1992-11-04,26,1,...,Calama,1,S219,"HERIDA DEL TORAX, PARTE NO ESPECIFICADA",S21,Herida del tórax,S20-S29,Traumatismos del tórax,S00-T98,"Traumatismos, envenenamientos y algunas otras ..."

# Filtros

## Filtro por Año y por cáncer (C00-D48)

In [15]:
df_defunciones = df_defunciones.query('ANO_DEF >= 2010 & ANO_DEF <= 2015 &  CAPITULO_DIAG1 == "C00-D48"')

In [16]:
id(df_defunciones)

4992863680

In [17]:
df_defunciones.dtypes

ID_FALLECIDO                 object
DIA_DEF                     float64
MES_DEF                       int64
ANO_DEF                       int64
FECHA_DEF                    object
SEXO                          int64
GLOSA_SEXO                   object
FECHA_NACIMIENTO             object
EDAD_CANT                     int64
EDAD_TIPO                     int64
GLOSA_EDAD_TIPO              object
OCUPACION                    object
GLOSA_OCUPACION              object
CATEGORIA                     int64
GLOSA_CATEGORIA              object
REG_RES                       int64
GLOSA_REG_RES                object
COMUNA                        int64
GLOSA_COMUNA_RESIDENCIA      object
URBANO_RURAL                  int64
DIAG1                        object
GLOSA_SUBCATEGORIA_DIAG1     object
CODIGO_CATEGORIA_DIAG1       object
GLOSA_CATEGORIA_DIAG1        object
CODIGO_GRUPO_DIAG1           object
GLOSA_GRUPO_DIAG1            object
CAPITULO_DIAG1               object
GLOSA_CAPITULO_DIAG1         object
dtype: object

In [18]:
df_defunciones['DIA_DEF'] = pd.to_numeric(df_defunciones['DIA_DEF'], downcast ='signed')
df_defunciones['MES_DEF'] = pd.to_numeric(df_defunciones['MES_DEF'], downcast ='signed')
df_defunciones['ANO_DEF'] = pd.to_numeric(df_defunciones['ANO_DEF'], downcast ='signed')
df_defunciones['SEXO'] = pd.to_numeric(df_defunciones['SEXO'], downcast ='signed')
df_defunciones['EDAD_CANT'] = pd.to_numeric(df_defunciones['EDAD_CANT'], downcast ='signed')
df_defunciones['EDAD_TIPO'] = pd.to_numeric(df_defunciones['EDAD_TIPO'], downcast ='signed')
df_defunciones['CATEGORIA'] = pd.to_numeric(df_defunciones['CATEGORIA'], downcast ='signed')
df_defunciones['REG_RES'] = pd.to_numeric(df_defunciones['REG_RES'], downcast ='signed')
df_defunciones['COMUNA'] = pd.to_numeric(df_defunciones['COMUNA'], downcast ='signed')
df_defunciones['URBANO_RURAL'] = pd.to_numeric(df_defunciones['URBANO_RURAL'], downcast ='signed')

In [19]:
df_defunciones.isna().sum()

ID_FALLECIDO                103
DIA_DEF                       0
MES_DEF                       0
ANO_DEF                       0
FECHA_DEF                     0
SEXO                          0
GLOSA_SEXO                    0
FECHA_NACIMIENTO             23
EDAD_CANT                     0
EDAD_TIPO                     0
GLOSA_EDAD_TIPO               0
OCUPACION                     0
GLOSA_OCUPACION             272
CATEGORIA                     0
GLOSA_CATEGORIA               0
REG_RES                       0
GLOSA_REG_RES                 0
COMUNA                        0
GLOSA_COMUNA_RESIDENCIA       0
URBANO_RURAL                  0
DIAG1                         0
GLOSA_SUBCATEGORIA_DIAG1      0
CODIGO_CATEGORIA_DIAG1        0
GLOSA_CATEGORIA_DIAG1         0
CODIGO_GRUPO_DIAG1            0
GLOSA_GRUPO_DIAG1             0
CAPITULO_DIAG1                0
GLOSA_CAPITULO_DIAG1          0
dtype: int64

## Eliminar las defunciones por D00-D09, D10-D36, D37-D44, D470, D472, D477, D479 y D48

Nota: Se analizarán solo los D45, D46, D47.1 y D47.3

In [20]:
df_defunciones.shape

(152686, 28)

In [21]:
df_defunciones.loc[df_defunciones['CODIGO_GRUPO_DIAG1'] == 'D00-D09']

,ID_FALLECIDO,DIA_DEF,MES_DEF,ANO_DEF,FECHA_DEF,SEXO,GLOSA_SEXO,FECHA_NACIMIENTO,EDAD_CANT,EDAD_TIPO,...,GLOSA_COMUNA_RESIDENCIA,URBANO_RURAL,DIAG1,GLOSA_SUBCATEGORIA_DIAG1,CODIGO_CATEGORIA_DIAG1,GLOSA_CATEGORIA_DIAG1,CODIGO_GRUPO_DIAG1,GLOSA_GRUPO_DIAG1,CAPITULO_DIAG1,GLOSA_CAPITULO_DIAG1
1120,6CC0F37770D6708A95137C4EDFF6931228EF6676,22,8,2010,2010-08-22,2,Mujer,1924-09-06,85,1,...,Antofagasta,1,D049,"CARCINOMA IN SITU DE LA PIEL, SITIO NO ESPECIF...",D04,Carcinoma in situ de la piel,D00-D09,Tumores [neoplasias] in situ,C00-D48,Tumores [Neoplasias]
326900,0460D6865FB0563E85A6658D40A12B7D818EE7F8,3,7,2015,2015-07-03,1,Hombre,1937-08-10,77,1,...,La Serena,1,D042,CARCINOMA IN SITU DE LA PIEL DE LA OREJA Y DEL...,D04,Carcinoma in situ de la piel,D00-D09,Tumores [neoplasias] in situ,C00-D48,Tumores [Neoplasias]
351256,3A32D70F2B4072F4A1508CCB990C24C2E05C5389,2,7,2015,2015-07-02,1,Hombre,1945-03-18,70,1,...,Pudahuel,1,D022,CARCINOMA IN SITU DEL BRONQUIO Y DEL PULMÓN,D02,Carcinoma in situ del sistema respiratorio y d...,D00-D09,Tumores [neoplasias] in situ,C00-D48,Tumores [Neoplasias]
398863,10908BFA5300D8C5BE4F18482A97E64563A9851E,20,5,2015,2015-05-20,2,Mujer,1924-01-28,91,1,...,La Granja,1,D049,"CARCINOMA IN SITU DE LA PIEL, SITIO NO ESPECIF...",D04,Carcinoma in situ de la piel,D00-D09,Tumores [neoplasias] in situ,C00-D48,Tumores [Neoplasias]
400976,788453C5D225E2C5EE774FB39F615DA7AF9213CA,9,8,2015,2015-08-09,1,Hombre,1937-06-08,78,1,...,Pudahuel,1,D022,CARCINOMA IN SITU DEL BRONQUIO Y DEL PULMÓN,D02,Carcinoma in situ del sistema respiratorio y d...,D00-D09,Tumores [neoplasias] in situ,C00-D48,Tumores [Neoplasias]
454289,976F82820E691750C20702DB44AB3FF731E2D373,21,5,2014,2014-05-21,1,Hombre,1955-04-15,59,1,...,Linares,1,D017,CARCINOMA IN SITU DE OTRAS PARTES ESPECIFICADA...,D01,Carcinoma in situ de otros órganos digestivos ...,D00-D09,Tumores [neoplasias] in situ,C00-D48,Tumores [Neoplasias]
506019,116CE623FBF94CF9E3DC0E3391694F0D879D84B3,6,7,2013,2013-07-06,1,Hombre,1928-11-07,84,1,...,Chiguayante,1,D047,CARCINOMA IN SITU DE LA PIEL DEL MIEMBRO INFER...,D04,Carcinoma in situ de la piel,D00-D09,Tumores [neoplasias] in situ,C00-D48,Tumores [Neoplasias]
556556,7A45721B7F83B00BD791C0620C8A8B45EBB4F4EC,10,2,2013,2013-02-10,2,Mujer,1926-01-06,87,1,...,Calama,1,D049,"CARCINOMA IN SITU DE LA PIEL, SITIO NO ESPECIF...",D04,Carcinoma in situ de la piel,D00-D09,Tumores [neoplasias] in situ,C00-D48,Tumores [Neoplasias]
598843,120DC0953236F53F37A1FF07A9DBAFC39CFF8249,30,3,2013,2013-03-30,1,Hombre,1934-09-08,78,1,...,Caldera,1,D001,CARCINOMA IN SITU DEL ESÓFAGO,D00,"Carcinoma in situ de la cavidad bucal, del esó...",D00-D09,Tumores [neoplasias] in situ,C00-D48,Tumores [Neoplasias]
682088,7AA1C5025862DDA7F015CDA9AE51BB533D068D9A,9,11,2012,2012-11-09,1,Hombre,1937-04-03,75,1,...,Quinta Normal,1,D002,CARCINOMA IN SITU DEL ESTOMAGO,D00,"Carcinoma in situ de la cavidad bucal, del esó...",D00-D09,Tumores [neoplasias] in situ,C00-D48,Tumores [Neoplasias]
723222,B75BB2FE51620FD4AF95846F3644E5922A445A51,8,8,2011,2011-08-08,1,Hombre,1937-03-11,74,1,...,Coquimbo,1,D010,CARCINOMA IN SITU DEL COLON,D01,Carcinoma in situ de otros órganos digestivos ...,D00-D09,Tumores [neoplasias] in situ,C00-D48,Tumores [Neoplasias]
838162,16E9D4FD107A674CD3AA4DD4445D993280CF2E0B,1,6,2010,2010-06-01,2,Mujer,1933-04-07,77,1,...,La Unión,1,D051,CARCINOMA IN SITU INTRACANALICULAR DE LA MAMA,D05,Carcinoma in situ de la mama,D00-D09,Tumores [neoplasias] in situ,C00-D48,Tumores [Neoplasias]

In [22]:
df_defunciones = df_defunciones[df_defunciones.CODIGO_GRUPO_DIAG1 != 'D00-D09']

In [23]:
df_defunciones.shape

(152674, 28)

In [24]:
df_defunciones = df_defunciones[df_defunciones.CODIGO_GRUPO_DIAG1 != 'D10-D36']

In [25]:
df_defunciones.shape

(152120, 28)

In [26]:
df_defunciones = df_defunciones[df_defunciones.CODIGO_CATEGORIA_DIAG1 != 'D37']
df_defunciones = df_defunciones[df_defunciones.CODIGO_CATEGORIA_DIAG1 != 'D38']
df_defunciones = df_defunciones[df_defunciones.CODIGO_CATEGORIA_DIAG1 != 'D39']
df_defunciones = df_defunciones[df_defunciones.CODIGO_CATEGORIA_DIAG1 != 'D40']
df_defunciones = df_defunciones[df_defunciones.CODIGO_CATEGORIA_DIAG1 != 'D41']
df_defunciones = df_defunciones[df_defunciones.CODIGO_CATEGORIA_DIAG1 != 'D42']
df_defunciones = df_defunciones[df_defunciones.CODIGO_CATEGORIA_DIAG1 != 'D43']
df_defunciones = df_defunciones[df_defunciones.CODIGO_CATEGORIA_DIAG1 != 'D44']
df_defunciones = df_defunciones[df_defunciones.CODIGO_CATEGORIA_DIAG1 != 'D48']

In [27]:
df_defunciones.shape

(147736, 28)

In [28]:
df_defunciones = df_defunciones[df_defunciones.DIAG1 != 'D470']
df_defunciones = df_defunciones[df_defunciones.DIAG1 != 'D472']
df_defunciones = df_defunciones[df_defunciones.DIAG1 != 'D477']
df_defunciones = df_defunciones[df_defunciones.DIAG1 != 'D479']

In [29]:
df_defunciones.shape

(147483, 28)

# Crear nuevas columnas para la agrupación IARC

Columna CODIGO_CATEGORIA_IARC, GLOSA_CATEGORIA_IARC

In [30]:
condiciones = [
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C00'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C01') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C02'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C03') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C04') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C05') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C06'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C07') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C08'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C09'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C10'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C11'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C12') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C13'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C14'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C15'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C16'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C17'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C18'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C19') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C20'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C21'),    
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C22'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C23') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C24'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C25'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C30') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C31'), 
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C32'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C33') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C34'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C37') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C38'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C40') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C41'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C43'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C44'),    
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C45'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C46'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C47') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C48') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C49'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C50'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C51'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C52'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C53'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C54'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C55'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C56'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C57'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C58'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C60'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C61'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C62'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C63'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C64'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C65'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C66'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C67'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C68'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C69'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C70') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C71') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C72'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C73'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C74'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C75'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C26') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C39') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C76') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C77') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C78') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C79') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C80'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C81'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C82') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C83') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C84') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C85') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C86') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C96'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C88'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C90'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C91'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C92') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C93') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C94'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C95'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'C97'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'D45') | (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'D47'),
    (df_defunciones['CODIGO_CATEGORIA_DIAG1'] == 'D46'),
]

choice_1 = ["C00", "C01-C02", "C03-C06", "C07-C08", "C09", "C10", "C11", "C12-C13", "C14", "C15", "C16", "C17", "C18", "C19-C20", "C21", "C22", "C23-C24", "C25",
           "C30-C31", "C32", "C33-C34", "C37-C38", "C40-C41", "C43", "C44", "C45", "C46", "C47-C49", "C50", "C51", "C52", "C53", "C54", "C55", "C56", "C57",
           "C58", "C60", "C61", "C62", "C63", "C64", "C65", "C66", "C67", "C68", "C69", "C70-C72", "C73", "C74", "C75", "C26, C39, C76-C80", 
           "C81", "C82-C85, C96", "C88", "C90", "C91", "C92-C94", "C95", "C97", "D45, D471, D473", "D46"]

In [31]:
choice_2 = ["Labio", "Lengua", "Cavidad oral", "Glándulas salivales", "Amígdala", "Otros orofaringe",
            "Nasofaringe", "Hipofaringe y seno piriforme", "Faringe y boca no especificada",   
           "Esófago", "Estómago", "Intestino delgado", "Colon", "Recto", "Ano", "Hígado", "Vesícula biliar",
            "Páncreas", "Cavidades nasales", "Laringe", "Tráquea, bronquios y pulmón", "Otros órganos torácicos",
            "Huesos y cartílagos", "Melanoma de piel", "Piel no melanoma", "Mesotelioma", "Sarcoma de Kaposi", 
            "Tejidos blandos", "Mama", "Vulva", "Vagina", "Cuello uterino", "Cuerpo uterino", "Útero SAI", "Ovario", 
            "Otros órganos genitales femeninos", "Placenta", "Pene", "Próstata", "Testículo", "Otros genitales masculinos",
            "Riñón", "Pelvis renal", "Uréter", "Vejiga urinaria", "Otros órganos urinarios", "Ojo",
            "Encéfalo y sistema nervioso", "Tiroides", "Glándula suprarenal", "Otras glándulas endocrinas", 
            "Primario desconocido", "Linfoma de Hodgkin", "Linfoma no Hodgkin", "M múltiples", "Mieloma múltiple",
            "Leucemia linfoide", "Leucemia mieloide", "Leucemia no especificada", 
            "Tumores malignos de sitios múltiples independientes", "Síndromes mieloproliferaticos crónicos",
            "Síndromes mielodisplásicos"]

In [32]:
df_defunciones['CODIGO_CATEGORIA_IARC'] = np.select(condiciones, choice_1, default='Not Specified')

In [33]:
df_defunciones['GLOSA_CATEGORIA_IARC'] = np.select(condiciones, choice_2, default='Not Specified')

In [34]:
df_defunciones[['CODIGO_CATEGORIA_DIAG1', 'CODIGO_CATEGORIA_IARC', 'GLOSA_CATEGORIA_IARC']]

       CODIGO_CATEGORIA_DIAG1 CODIGO_CATEGORIA_IARC  GLOSA_CATEGORIA_IARC
571                       C18                   C18                 Colon
584                       C61                   C61              Próstata
592                       C15                   C15               Esófago
598                       C21                   C21                   Ano
601                       C25                   C25              Páncreas
...                       ...                   ...                   ...
882005                    C80     C26, C39, C76-C80  Primario desconocido
882008                    C18                   C18                 Colon
882013                    C79     C26, C39, C76-C80  Primario desconocido
882020                    C91                   C91     Leucemia linfoide
882023                    C64                   C64                 Riñón

[147483 rows x 3 columns]

In [35]:
df_defunciones[['CODIGO_CATEGORIA_IARC', 'CODIGO_CATEGORIA_DIAG1']].query('CODIGO_CATEGORIA_IARC == "Not Specified"').values.tolist()

[]

In [36]:
df_defunciones[['GLOSA_CATEGORIA_IARC', 'CODIGO_CATEGORIA_DIAG1']].query('GLOSA_CATEGORIA_IARC == "Not Specified"').values.tolist()

[]

# Crear columna con agrupación por edad

### Edades quinquenales

## Crear variable 'EDAD_AÑO'

SE TRANSFORMAN LAS EDADES TIPO 2, 3 Y 4 A 0 AÑOS

In [37]:
df_defunciones['EDAD_TIPO'].describe()

count    147483.000000
mean          1.000475
std           0.025773
min           1.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           4.000000
Name: EDAD_TIPO, dtype: float64

In [38]:
edad = df_defunciones[['EDAD_CANT', 'EDAD_TIPO']].values.tolist()

In [39]:
nueva_edad=list()
for i in edad:
    if i[1] == 1:
        nueva_edad.append(i[0])
    elif i[1] >= 2:
        nueva_edad.append(0)

In [40]:
df_defunciones['EDAD_AÑOS'] = nueva_edad

In [41]:
df_defunciones['EDAD_AÑOS'].describe()

count    147483.000000
mean         69.885485
std          14.617242
min           0.000000
25%          62.000000
50%          72.000000
75%          81.000000
max         114.000000
Name: EDAD_AÑOS, dtype: float64

In [42]:
df_defunciones['EDAD_AÑOS'].isna().sum()

0

In [43]:
df_defunciones['EDAD_AÑOS']

571       95
584       81
592       98
598       88
601       93
          ..
882005    42
882008    84
882013    51
882020     2
882023     2
Name: EDAD_AÑOS, Length: 147483, dtype: int64

In [44]:
df_defunciones['EDAD_AÑOS'] = pd.to_numeric(df_defunciones['EDAD_AÑOS'], downcast ='signed')

## Crear la variable 'EDAD_QUINQ' y 'GLOSA_EDAD_QUIN'

In [45]:
edad_años = df_defunciones['EDAD_AÑOS'].values.tolist()

In [46]:
codigo_edad = list()
glosa_edad = list()

for i in edad_años:
    if i >= 0 and i <= 4:
        codigo_edad.append(1)
        glosa_edad.append("0 a 4 años")
    elif i >= 5 and i <= 9:
        codigo_edad.append(2)
        glosa_edad.append("5 a 9 años")
    elif i >= 10 and i <= 14:
        codigo_edad.append(3)
        glosa_edad.append("10 a 14 años")
    elif i >= 15 and i <= 19:
        codigo_edad.append(4)
        glosa_edad.append("15 a 19 años")
    elif i >= 20 and i <= 24:
        codigo_edad.append(5)
        glosa_edad.append("20 a 24 años")
    elif i >= 25 and i <= 29:
        codigo_edad.append(6)
        glosa_edad.append("25 a 29 años")
    elif i >= 30 and i <= 34:
        codigo_edad.append(7)
        glosa_edad.append("30 a 34 años")
    elif i >= 35 and i <= 39:
        codigo_edad.append(8)
        glosa_edad.append("35 a 39 años")
    elif i >= 40 and i <= 44:
        codigo_edad.append(9)
        glosa_edad.append("40 a 44 años")
    elif i >= 45 and i <= 49:
        codigo_edad.append(10)
        glosa_edad.append("45 a 49 años")
    elif i >= 50 and i <= 54:
        codigo_edad.append(11)
        glosa_edad.append("50 a 54 años")
    elif i >= 55 and i <= 59:
        codigo_edad.append(12)
        glosa_edad.append("55 a 59 años")
    elif i >= 60 and i <= 64:
        codigo_edad.append(13)
        glosa_edad.append("60 a 64 años")
    elif i >= 65 and i <= 69:
        codigo_edad.append(14)
        glosa_edad.append("65 a 69 años")
    elif i >= 70 and i <= 74:
        codigo_edad.append(15)
        glosa_edad.append("70 a 74 años")
    elif i >= 75 and i <= 79:
        codigo_edad.append(16)
        glosa_edad.append("75 a 79 años")
    elif i >= 80:
        codigo_edad.append(17)
        glosa_edad.append("80 y más años")

In [47]:
df_defunciones['EDAD_QUIN'] = codigo_edad

In [48]:
df_defunciones['GLOSA_EDAD_QUIN']=glosa_edad

# CREAR VARIABLE TRIENIO

## Se codifican los años 2010 a 2012 como 1 y 2013 a 2015 como 2

In [49]:
anos_def = df_defunciones['ANO_DEF'].values.tolist()

In [50]:
trienio=list()
for i in anos_def:
    if i == 2010 or i == 2011 or i == 2012:
        trienio.append(1)
    else:
        trienio.append(2)

In [51]:
df_defunciones['TRIENIO']=trienio

In [52]:
df_defunciones.isna().sum()

ID_FALLECIDO                 95
DIA_DEF                       0
MES_DEF                       0
ANO_DEF                       0
FECHA_DEF                     0
SEXO                          0
GLOSA_SEXO                    0
FECHA_NACIMIENTO             22
EDAD_CANT                     0
EDAD_TIPO                     0
GLOSA_EDAD_TIPO               0
OCUPACION                     0
GLOSA_OCUPACION             260
CATEGORIA                     0
GLOSA_CATEGORIA               0
REG_RES                       0
GLOSA_REG_RES                 0
COMUNA                        0
GLOSA_COMUNA_RESIDENCIA       0
URBANO_RURAL                  0
DIAG1                         0
GLOSA_SUBCATEGORIA_DIAG1      0
CODIGO_CATEGORIA_DIAG1        0
GLOSA_CATEGORIA_DIAG1         0
CODIGO_GRUPO_DIAG1            0
GLOSA_GRUPO_DIAG1             0
CAPITULO_DIAG1                0
GLOSA_CAPITULO_DIAG1          0
CODIGO_CATEGORIA_IARC         0
GLOSA_CATEGORIA_IARC          0
EDAD_AÑOS                     0
EDAD_QUIN                     0
GLOSA_EDAD_QUIN               0
TRIENIO                       0
dtype: int64

# Cálculo de poblaciones

In [53]:
df_poblacion.head()

,Region,Nombre Region,Provincia,Nombre Provincia,Comuna,Nombre Comuna,Sexo,Edad,Poblacion 2011,Poblacion 2014
0,1,Tarapacá,11,Iquique,1101,Iquique,1,0,1615,1596
1,1,Tarapacá,11,Iquique,1101,Iquique,1,1,1582,1588
2,1,Tarapacá,11,Iquique,1101,Iquique,1,2,1543,1600
3,1,Tarapacá,11,Iquique,1101,Iquique,1,3,1454,1600
4,1,Tarapacá,11,Iquique,1101,Iquique,1,4,1390,1564

## Codificar la edad quinquenal

In [54]:
edad_años_pob = df_poblacion['Edad'].values.tolist()

In [55]:
codigo_edad = list()
glosa_edad = list()

for i in edad_años_pob:
    if i >= 0 and i <= 4:
        codigo_edad.append(1)
        glosa_edad.append("0 a 4 años")
    elif i >= 5 and i <= 9:
        codigo_edad.append(2)
        glosa_edad.append("5 a 9 años")
    elif i >= 10 and i <= 14:
        codigo_edad.append(3)
        glosa_edad.append("10 a 14 años")
    elif i >= 15 and i <= 19:
        codigo_edad.append(4)
        glosa_edad.append("15 a 19 años")
    elif i >= 20 and i <= 24:
        codigo_edad.append(5)
        glosa_edad.append("20 a 24 años")
    elif i >= 25 and i <= 29:
        codigo_edad.append(6)
        glosa_edad.append("25 a 29 años")
    elif i >= 30 and i <= 34:
        codigo_edad.append(7)
        glosa_edad.append("30 a 34 años")
    elif i >= 35 and i <= 39:
        codigo_edad.append(8)
        glosa_edad.append("35 a 39 años")
    elif i >= 40 and i <= 44:
        codigo_edad.append(9)
        glosa_edad.append("40 a 44 años")
    elif i >= 45 and i <= 49:
        codigo_edad.append(10)
        glosa_edad.append("45 a 49 años")
    elif i >= 50 and i <= 54:
        codigo_edad.append(11)
        glosa_edad.append("50 a 54 años")
    elif i >= 55 and i <= 59:
        codigo_edad.append(12)
        glosa_edad.append("55 a 59 años")
    elif i >= 60 and i <= 64:
        codigo_edad.append(13)
        glosa_edad.append("60 a 64 años")
    elif i >= 65 and i <= 69:
        codigo_edad.append(14)
        glosa_edad.append("65 a 69 años")
    elif i >= 70 and i <= 74:
        codigo_edad.append(15)
        glosa_edad.append("70 a 74 años")
    elif i >= 75 and i <= 79:
        codigo_edad.append(16)
        glosa_edad.append("75 a 79 años")
    elif i >= 80:
        codigo_edad.append(17)
        glosa_edad.append("80 y más años")

In [56]:
df_poblacion['Edad_quinq'] = codigo_edad
df_poblacion['Nombre Edad'] = glosa_edad

## Poblacion por region

In [59]:
group_poblacion = df_poblacion.groupby(['Region', 'Nombre Region', 'Sexo', 'Edad_quinq', 'Nombre Edad'], as_index=False)[['Poblacion 2011', 'Poblacion 2014']].sum()

In [60]:
group_poblacion

,Region,Nombre Region,Sexo,Edad_quinq,Nombre Edad,Poblacion 2011,Poblacion 2014
0,1,Tarapacá,1,1,0 a 4 años,13958,14745
1,1,Tarapacá,1,2,5 a 9 años,12141,12998
2,1,Tarapacá,1,3,10 a 14 años,12237,12132
3,1,Tarapacá,1,4,15 a 19 años,13264,13047
4,1,Tarapacá,1,5,20 a 24 años,13125,14098
...,...,...,...,...,...,...,...
539,16,Ñuble,2,13,60 a 64 años,11123,12461
540,16,Ñuble,2,14,65 a 69 años,9092,10068
541,16,Ñuble,2,15,70 a 74 años,7702,8254
542,16,Ñuble,2,16,75 a 79 años,5867,6485
543,16,Ñuble,2,17,80 y más años,7646,8762

## Crear la variable de hasheo en las poblaciones por region

In [61]:
group_poblacion_ = group_poblacion.copy()

In [62]:
group_poblacion_['Trienio_1'] = 1

In [63]:
group_poblacion_['Trienio_2'] = 2

In [64]:
datos_hash = group_poblacion_[['Region', 'Edad_quinq', 'Sexo', 'Trienio_1']].values.tolist()

In [65]:
hasheo_1=list()

for i in datos_hash:
    hasheo_1.append(hash(tuple(i)))

In [66]:
datos_hash = group_poblacion_[['Region', 'Edad_quinq', 'Sexo', 'Trienio_2']].values.tolist()
hasheo_2=list()

for i in datos_hash:
    hasheo_2.append(hash(tuple(i)))

In [67]:
group_poblacion_['HASHEO1']=hasheo_1

In [68]:
group_poblacion_['HASHEO2']=hasheo_2

In [68]:
unstack_poblacion = group_poblacion.unstack(level=2, fill_value=0)

In [63]:
type(unstack_poblacion)

pandas.core.frame.DataFrame

In [64]:
unstack_poblacion

                                              Poblacion 2011         \
Sexo                                                       1      2
Region Nombre Region Edad_quinq Nombre Edad
1      Tarapacá      1          0 a 4 años             13958  13402
                     2          5 a 9 años             12141  11679
                     3          10 a 14 años           12237  11779
                     4          15 a 19 años           13264  12233
                     5          20 a 24 años           13125  12057
...                                                      ...    ...
16     Ñuble         13         60 a 64 años           10633  11123
                     14         65 a 69 años            8268   9092
                     15         70 a 74 años            6373   7702
                     16         75 a 79 años            4455   5867
                     17         80 y más años           4885   7646

                                              Poblacion 2014
Sexo                                                       1      2
Region Nombre Region Edad_quinq Nombre Edad
1      Tarapacá      1          0 a 4 años             14745  14175
                     2          5 a 9 años             12998  12538
                     3          10 a 14 años           12132  11686
                     4          15 a 19 años           13047  12151
                     5          20 a 24 años           14098  13102
...                                                      ...    ...
16     Ñuble         13         60 a 64 años           11805  12461
                     14         65 a 69 años            9358  10068
                     15         70 a 74 años            7028   8254
                     16         75 a 79 años            4959   6485
                     17         80 y más años           5561   8762

[272 rows x 4 columns]

In [69]:
group_poblacion_

,Region,Nombre Region,Sexo,Edad_quinq,Nombre Edad,Poblacion 2011,Poblacion 2014,Trienio_1,Trienio_2,HASHEO1,HASHEO2
0,1,Tarapacá,1,1,0 a 4 años,13958,14745,1,2,-84722638022233667,6422918118079764758
1,1,Tarapacá,1,2,5 a 9 años,12141,12998,1,2,-4875901931021134834,8677768113715720416
2,1,Tarapacá,1,3,10 a 14 años,12237,12132,1,2,-6206729782429087579,300910973672910846
3,1,Tarapacá,1,4,15 a 19 años,13264,13047,1,2,-1299386407315454797,-6192460436288151163
4,1,Tarapacá,1,5,20 a 24 años,13125,14098,1,2,955463588320500861,7463104344422499286
...,...,...,...,...,...,...,...,...,...,...,...
539,16,Ñuble,2,13,60 a 64 años,11123,12461,1,2,7729430343789770890,2836356314817074524
540,16,Ñuble,2,14,65 a 69 años,9092,10068,1,2,1236058933828708881,7743699689930707306
541,16,Ñuble,2,15,70 a 74 años,7702,8254,1,2,-3555120359170192286,-8448194388142888652
542,16,Ñuble,2,16,75 a 79 años,5867,6485,1,2,-3076274658185876699,-7969348687158573065
543,16,Ñuble,2,17,80 y más años,7646,8762,1,2,-821424662549921041,5686216093552077384

## Poblacion por comunas

In [84]:
group_poblacion_com = df_poblacion.groupby(['Comuna', 'Nombre Comuna', 'Sexo', 'Edad_quinq', 'Nombre Edad'])[['Poblacion 2011', 'Poblacion 2014']].sum()

In [85]:
unstack_poblacion_com = group_poblacion_com.unstack(level=2, fill_value=0)

In [86]:
group_poblacion_com

                                                    Poblacion 2011  \
Comuna Nombre Comuna Sexo Edad_quinq Nombre Edad
1101   Iquique       1    1          0 a 4 años               7584
                          2          5 a 9 años               6561
                          3          10 a 14 años             6738
                          4          15 a 19 años             7603
                          5          20 a 24 años             7984
...                                                            ...
16305  San Nicolás   2    13         60 a 64 años              284
                          14         65 a 69 años              232
                          15         70 a 74 años              186
                          16         75 a 79 años              141
                          17         80 y más años             162

                                                    Poblacion 2014
Comuna Nombre Comuna Sexo Edad_quinq Nombre Edad
1101   Iquique       1    1          0 a 4 años               7948
                          2          5 a 9 años               6947
                          3          10 a 14 años             6539
                          4          15 a 19 años             7164
                          5          20 a 24 años             8255
...                                                            ...
16305  San Nicolás   2    13         60 a 64 años              318
                          14         65 a 69 años              261
                          15         70 a 74 años              206
                          16         75 a 79 años              157
                          17         80 y más años             185

[11764 rows x 2 columns]

In [87]:
unstack_poblacion_com

                                              Poblacion 2011        \
Sexo                                                       1     2
Comuna Nombre Comuna Edad_quinq Nombre Edad
1101   Iquique       1          0 a 4 años              7584  7189
                     2          5 a 9 años              6561  6343
                     3          10 a 14 años            6738  6503
                     4          15 a 19 años            7603  6996
                     5          20 a 24 años            7984  7282
...                                                      ...   ...
16305  San Nicolás   13         60 a 64 años             285   284
                     14         65 a 69 años             231   232
                     15         70 a 74 años             180   186
                     16         75 a 79 años             113   141
                     17         80 y más años            116   162

                                              Poblacion 2014
Sexo                                                       1     2
Comuna Nombre Comuna Edad_quinq Nombre Edad
1101   Iquique       1          0 a 4 años              7948  7497
                     2          5 a 9 años              6947  6716
                     3          10 a 14 años            6539  6279
                     4          15 a 19 años            7164  6672
                     5          20 a 24 años            8255  7674
...                                                      ...   ...
16305  San Nicolás   13         60 a 64 años             321   318
                     14         65 a 69 años             262   261
                     15         70 a 74 años             202   206
                     16         75 a 79 años             129   157
                     17         80 y más años            133   185

[5882 rows x 4 columns]

# Número de defunciones

## Defunciones por region

In [70]:
group_def = df_defunciones.groupby(['CODIGO_CATEGORIA_IARC','GLOSA_CATEGORIA_IARC', 'EDAD_QUIN', 'GLOSA_EDAD_QUIN', 'REG_RES', 'GLOSA_REG_RES', 'TRIENIO', 'SEXO'], as_index=False)[['DIA_DEF']].count()

In [71]:
group_def = group_def.sort_values(by=['CODIGO_CATEGORIA_IARC', 'TRIENIO',  'REG_RES', 'EDAD_QUIN' ])

In [72]:
group_def

,CODIGO_CATEGORIA_IARC,GLOSA_CATEGORIA_IARC,EDAD_QUIN,GLOSA_EDAD_QUIN,REG_RES,GLOSA_REG_RES,TRIENIO,SEXO,DIA_DEF
6,C00,Labio,12,55 a 59 años,2,De Antofagasta,1,2,1
20,C00,Labio,16,75 a 79 años,2,De Antofagasta,1,1,1
28,C00,Labio,17,80 y más años,4,De Coquimbo,1,2,1
0,C00,Labio,8,35 a 39 años,5,De Valparaíso,1,1,1
3,C00,Labio,10,45 a 49 años,5,De Valparaíso,1,1,1
...,...,...,...,...,...,...,...,...,...
16253,D46,Síndromes mielodisplásicos,11,50 a 54 años,16,De Ñuble,2,1,1
16321,D46,Síndromes mielodisplásicos,14,65 a 69 años,16,De Ñuble,2,1,1
16322,D46,Síndromes mielodisplásicos,14,65 a 69 años,16,De Ñuble,2,2,1
16398,D46,Síndromes mielodisplásicos,16,75 a 79 años,16,De Ñuble,2,1,2
16444,D46,Síndromes mielodisplásicos,17,80 y más años,16,De Ñuble,2,2,3

## Crear la variable para hashear y unir por la poblacion regional

In [73]:
datos_hash = group_def[['REG_RES', 'EDAD_QUIN', 'SEXO', 'TRIENIO']].values.tolist()

In [74]:
len(datos_hash)

16445

In [75]:
hasheo=list()
for i in datos_hash:
    hasheo.append(hash(tuple(i)))

In [76]:
group_def['HASHEO']=hasheo

In [77]:
group_def

,CODIGO_CATEGORIA_IARC,GLOSA_CATEGORIA_IARC,EDAD_QUIN,GLOSA_EDAD_QUIN,REG_RES,GLOSA_REG_RES,TRIENIO,SEXO,DIA_DEF,HASHEO
6,C00,Labio,12,55 a 59 años,2,De Antofagasta,1,2,1,3833099694026631422
20,C00,Labio,16,75 a 79 años,2,De Antofagasta,1,1,1,8277197492416471183
28,C00,Labio,17,80 y más años,4,De Coquimbo,1,2,1,122632594699170798
0,C00,Labio,8,35 a 39 años,5,De Valparaíso,1,1,1,-717079791663054677
3,C00,Labio,10,45 a 49 años,5,De Valparaíso,1,1,1,5112895764263079189
...,...,...,...,...,...,...,...,...,...,...
16253,D46,Síndromes mielodisplásicos,11,50 a 54 años,16,De Ñuble,2,1,1,-1858638918047319156
16321,D46,Síndromes mielodisplásicos,14,65 a 69 años,16,De Ñuble,2,1,1,-8265986537038598617
16322,D46,Síndromes mielodisplásicos,14,65 a 69 años,16,De Ñuble,2,2,1,7743699689930707306
16398,D46,Síndromes mielodisplásicos,16,75 a 79 años,16,De Ñuble,2,1,2,8516095850306856116
16444,D46,Síndromes mielodisplásicos,17,80 y más años,16,De Ñuble,2,2,3,5686216093552077384

In [78]:
group_def = group_def.set_index('HASHEO').join(group_poblacion_.set_index('HASHEO1'))

In [87]:
group_def

,CODIGO_CATEGORIA_IARC,GLOSA_CATEGORIA_IARC,EDAD_QUIN,GLOSA_EDAD_QUIN,REG_RES,GLOSA_REG_RES,TRIENIO,SEXO,NUM_DEF,POB_2011,POB_2014
-9222976517645222821,C00,Labio,16,75 a 79 años,9,De La Araucanía,2,1,1,0.0,8979.0
-9222976517645222821,C10,Otros orofaringe,16,75 a 79 años,9,De La Araucanía,2,1,1,0.0,8979.0
-9222976517645222821,C15,Esófago,16,75 a 79 años,9,De La Araucanía,2,1,25,0.0,8979.0
-9222976517645222821,C16,Estómago,16,75 a 79 años,9,De La Araucanía,2,1,79,0.0,8979.0
-9222976517645222821,C17,Intestino delgado,16,75 a 79 años,9,De La Araucanía,2,1,1,0.0,8979.0
...,...,...,...,...,...,...,...,...,...,...,...
9206670991306487791,C70-C72,Encéfalo y sistema nervioso,16,75 a 79 años,1,De Tarapacá,1,2,1,2071.0,0.0
9206670991306487791,C73,Tiroides,16,75 a 79 años,1,De Tarapacá,1,2,1,2071.0,0.0
9206670991306487791,"C82-C85, C96",Linfoma no Hodgkin,16,75 a 79 años,1,De Tarapacá,1,2,1,2071.0,0.0
9206670991306487791,C90,Mieloma múltiple,16,75 a 79 años,1,De Tarapacá,1,2,1,2071.0,0.0
9206670991306487791,C92-C94,Leucemia mieloide,16,75 a 79 años,1,De Tarapacá,1,2,2,2071.0,0.0

In [80]:
group_def = group_def.drop(['Region', 'Nombre Region', 'Sexo', 'Edad_quinq', 'Nombre Edad', 'Poblacion 2014', 'Trienio_1', 'Trienio_2', 'HASHEO2' ], axis=1)

In [82]:
group_def=group_def.rename(columns={'DIA_DEF':'NUM_DEF', 'Poblacion 2011': 'POB_2011'}, inplace=False)

In [83]:
group_def = group_def.join(group_poblacion_.set_index('HASHEO2'))

In [84]:
group_def = group_def.drop(['Region', 'Nombre Region', 'Sexo', 'Edad_quinq', 'Nombre Edad', 'Poblacion 2011', 'Trienio_1', 'Trienio_2', 'HASHEO1' ], axis=1)

In [85]:
group_def=group_def.rename(columns={'Poblacion 2014': 'POB_2014'}, inplace=False)

In [86]:
group_def[['POB_2011', 'POB_2014']] = group_def[['POB_2011', 'POB_2014']].fillna(0)

In [88]:
contador=0
poblacion=list()
pob14 = group_def['POB_2014'].values.tolist()
pob11 = group_def['POB_2011'].values.tolist()
for i in pob11:
    if i  == 0:
        poblacion.append(int(pob14[contador]))
    elif i > 0:
        poblacion.append(int(i))
    contador += 1

In [89]:
group_def['POBLACION']=poblacion

In [90]:
group_def = group_def.drop(['POB_2011', 'POB_2014' ], axis=1)

In [91]:
group_def

,CODIGO_CATEGORIA_IARC,GLOSA_CATEGORIA_IARC,EDAD_QUIN,GLOSA_EDAD_QUIN,REG_RES,GLOSA_REG_RES,TRIENIO,SEXO,NUM_DEF,POBLACION
-9222976517645222821,C00,Labio,16,75 a 79 años,9,De La Araucanía,2,1,1,8979
-9222976517645222821,C10,Otros orofaringe,16,75 a 79 años,9,De La Araucanía,2,1,1,8979
-9222976517645222821,C15,Esófago,16,75 a 79 años,9,De La Araucanía,2,1,25,8979
-9222976517645222821,C16,Estómago,16,75 a 79 años,9,De La Araucanía,2,1,79,8979
-9222976517645222821,C17,Intestino delgado,16,75 a 79 años,9,De La Araucanía,2,1,1,8979
...,...,...,...,...,...,...,...,...,...,...
9206670991306487791,C70-C72,Encéfalo y sistema nervioso,16,75 a 79 años,1,De Tarapacá,1,2,1,2071
9206670991306487791,C73,Tiroides,16,75 a 79 años,1,De Tarapacá,1,2,1,2071
9206670991306487791,"C82-C85, C96",Linfoma no Hodgkin,16,75 a 79 años,1,De Tarapacá,1,2,1,2071
9206670991306487791,C90,Mieloma múltiple,16,75 a 79 años,1,De Tarapacá,1,2,1,2071
9206670991306487791,C92-C94,Leucemia mieloide,16,75 a 79 años,1,De Tarapacá,1,2,2,2071

## Cálculo de la TBM por grupo etario

In [92]:
group_def['TBM']= group_def['NUM_DEF']/group_def['POBLACION']

In [94]:
group_def

,CODIGO_CATEGORIA_IARC,GLOSA_CATEGORIA_IARC,EDAD_QUIN,GLOSA_EDAD_QUIN,REG_RES,GLOSA_REG_RES,TRIENIO,SEXO,NUM_DEF,POBLACION,TBM
-9222976517645222821,C00,Labio,16,75 a 79 años,9,De La Araucanía,2,1,1,8979,0.000111
-9222976517645222821,C10,Otros orofaringe,16,75 a 79 años,9,De La Araucanía,2,1,1,8979,0.000111
-9222976517645222821,C15,Esófago,16,75 a 79 años,9,De La Araucanía,2,1,25,8979,0.002784
-9222976517645222821,C16,Estómago,16,75 a 79 años,9,De La Araucanía,2,1,79,8979,0.008798
-9222976517645222821,C17,Intestino delgado,16,75 a 79 años,9,De La Araucanía,2,1,1,8979,0.000111
...,...,...,...,...,...,...,...,...,...,...,...
9206670991306487791,C70-C72,Encéfalo y sistema nervioso,16,75 a 79 años,1,De Tarapacá,1,2,1,2071,0.000483
9206670991306487791,C73,Tiroides,16,75 a 79 años,1,De Tarapacá,1,2,1,2071,0.000483
9206670991306487791,"C82-C85, C96",Linfoma no Hodgkin,16,75 a 79 años,1,De Tarapacá,1,2,1,2071,0.000483
9206670991306487791,C90,Mieloma múltiple,16,75 a 79 años,1,De Tarapacá,1,2,1,2071,0.000483
9206670991306487791,C92-C94,Leucemia mieloide,16,75 a 79 años,1,De Tarapacá,1,2,2,2071,0.000966

## Cálculo de las muertes esperadas para la TMA

In [95]:
seleccion=group_def[['EDAD_QUIN','SEXO']].values.tolist()

In [96]:
df_wp

         age  population_male  population_female
0        0-4           343105             321007
1        5-9           326623             304589
2      10-14           314861             293940
3      15-19           309113             289937
4      20-24           312933             296777
5      25-29           299466             287637
6      30-34           266106             257762
7      35-39           251160             244568
8      40-44           241867             237478
9      45-49           219223             217174
10     50-54           188102             188410
11     55-59           161577             165183
12     60-64           129759             136817
13     65-69            91803             100947
14     70-74            67575              79000
15     75-79            47319              60763
16  80 y ms            43678              71947

In [97]:
pob_h = df_wp['population_male'].values.tolist()

In [98]:
pob_m = df_wp['population_female'].values.tolist()

In [99]:
pob_m

[321007,
 304589,
 293940,
 289937,
 296777,
 287637,
 257762,
 244568,
 237478,
 217174,
 188410,
 165183,
 136817,
 100947,
 79000,
 60763,
 71947]

In [100]:
pob_estandar=list()
for i in seleccion:
    if i[0]==1:
        if i[1]==1:
            pob_estandar.append(pob_h[0])
        elif i[1] == 2:
            pob_estandar.append(pob_m[0])
    elif i[0]==2:
        if i[1]==1:
            pob_estandar.append(pob_h[1])
        elif i[1] == 2:
            pob_estandar.append(pob_m[1])
    elif i[0]==3:
        if i[1]==1:
            pob_estandar.append(pob_h[2])
        elif i[1] == 2:
            pob_estandar.append(pob_m[2])
    elif i[0]==4:
        if i[1]==1:
            pob_estandar.append(pob_h[3])
        elif i[1] == 2:
            pob_estandar.append(pob_m[3])
    elif i[0]==5:
        if i[1]==1:
            pob_estandar.append(pob_h[4])
        elif i[1] == 2:
            pob_estandar.append(pob_m[4])
    elif i[0]==6:
        if i[1]==1:
            pob_estandar.append(pob_h[5])
        elif i[1] == 2:
            pob_estandar.append(pob_m[5])
    elif i[0]==7:
        if i[1]==1:
            pob_estandar.append(pob_h[6])
        elif i[1] == 2:
            pob_estandar.append(pob_m[6])
    elif i[0]==8:
        if i[1]==1:
            pob_estandar.append(pob_h[7])
        elif i[1] == 2:
            pob_estandar.append(pob_m[7])
    elif i[0]==9:
        if i[1]==1:
            pob_estandar.append(pob_h[8])
        elif i[1] == 2:
            pob_estandar.append(pob_m[8])
    elif i[0]==10:
        if i[1]==1:
            pob_estandar.append(pob_h[9])
        elif i[1] == 2:
            pob_estandar.append(pob_m[9])
    elif i[0]==11:
        if i[1]==1:
            pob_estandar.append(pob_h[10])
        elif i[1] == 2:
            pob_estandar.append(pob_m[10])
    elif i[0]==12:
        if i[1]==1:
            pob_estandar.append(pob_h[11])
        elif i[1] == 2:
            pob_estandar.append(pob_m[11])
    elif i[0]==13:
        if i[1]==1:
            pob_estandar.append(pob_h[12])
        elif i[1] == 2:
            pob_estandar.append(pob_m[12])
    elif i[0]==14:
        if i[1]==1:
            pob_estandar.append(pob_h[13])
        elif i[1] == 2:
            pob_estandar.append(pob_m[13])
    elif i[0]==15:
        if i[1]==1:
            pob_estandar.append(pob_h[14])
        elif i[1] == 2:
            pob_estandar.append(pob_m[14])
    elif i[0]==16:
        if i[1]==1:
            pob_estandar.append(pob_h[15])
        elif i[1] == 2:
            pob_estandar.append(pob_m[15])
    elif i[0]==17:
        if i[1]==1:
            pob_estandar.append(pob_h[16])
        elif i[1] == 2:
            pob_estandar.append(pob_m[16])

In [101]:
len(pob_estandar)

16445

In [102]:
group_def['POB_ESTANDAR'] = pob_estandar

In [103]:
group_def['MUERTES_ESPERADAS'] = group_def['TBM'] * group_def['POB_ESTANDAR']

In [104]:
group_def

,CODIGO_CATEGORIA_IARC,GLOSA_CATEGORIA_IARC,EDAD_QUIN,GLOSA_EDAD_QUIN,REG_RES,GLOSA_REG_RES,TRIENIO,SEXO,NUM_DEF,POBLACION,TBM,POB_ESTANDAR,MUERTES_ESPERADAS
-9222976517645222821,C00,Labio,16,75 a 79 años,9,De La Araucanía,2,1,1,8979,0.000111,47319,5.269963
-9222976517645222821,C10,Otros orofaringe,16,75 a 79 años,9,De La Araucanía,2,1,1,8979,0.000111,47319,5.269963
-9222976517645222821,C15,Esófago,16,75 a 79 años,9,De La Araucanía,2,1,25,8979,0.002784,47319,131.749081
-9222976517645222821,C16,Estómago,16,75 a 79 años,9,De La Araucanía,2,1,79,8979,0.008798,47319,416.327097
-9222976517645222821,C17,Intestino delgado,16,75 a 79 años,9,De La Araucanía,2,1,1,8979,0.000111,47319,5.269963
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9206670991306487791,C70-C72,Encéfalo y sistema nervioso,16,75 a 79 años,1,De Tarapacá,1,2,1,2071,0.000483,60763,29.339932
9206670991306487791,C73,Tiroides,16,75 a 79 años,1,De Tarapacá,1,2,1,2071,0.000483,60763,29.339932
9206670991306487791,"C82-C85, C96",Linfoma no Hodgkin,16,75 a 79 años,1,De Tarapacá,1,2,1,2071,0.000483,60763,29.339932
9206670991306487791,C90,Mieloma múltiple,16,75 a 79 años,1,De Tarapacá,1,2,1,2071,0.000483,60763,29.339932
9206670991306487791,C92-C94,Leucemia mieloide,16,75 a 79 años,1,De Tarapacá,1,2,2,2071,0.000966,60763,58.679865

## Nuevo dataframe para la constrónucci de la TBM por causas, región y trienios

In [105]:
group_def = group_def.sort_values(by=['CODIGO_CATEGORIA_IARC', 'TRIENIO',  'REG_RES'])

In [106]:
group_def

,CODIGO_CATEGORIA_IARC,GLOSA_CATEGORIA_IARC,EDAD_QUIN,GLOSA_EDAD_QUIN,REG_RES,GLOSA_REG_RES,TRIENIO,SEXO,NUM_DEF,POBLACION,TBM,POB_ESTANDAR,MUERTES_ESPERADAS
3833099694026631422,C00,Labio,12,55 a 59 años,2,De Antofagasta,1,2,1,14173,0.000071,165183,11.654766
8277197492416471183,C00,Labio,16,75 a 79 años,2,De Antofagasta,1,1,1,2812,0.000356,47319,16.827525
122632594699170798,C00,Labio,17,80 y más años,4,De Coquimbo,1,2,1,10333,0.000097,71947,6.962838
-6418075019267743748,C00,Labio,16,75 a 79 años,5,De Valparaíso,1,1,1,15989,0.000063,47319,2.959472
-717079791663054677,C00,Labio,8,35 a 39 años,5,De Valparaíso,1,1,1,58212,0.000017,251160,4.314574
...,...,...,...,...,...,...,...,...,...,...,...,...,...
-1858638918047319156,D46,Síndromes mielodisplásicos,11,50 a 54 años,16,De Ñuble,2,1,1,16399,0.000061,188102,11.470334
5686216093552077384,D46,Síndromes mielodisplásicos,17,80 y más años,16,De Ñuble,2,2,3,8762,0.000342,71947,24.633759
6378685606920315424,D46,Síndromes mielodisplásicos,1,0 a 4 años,16,De Ñuble,2,1,1,15636,0.000064,343105,21.943272
7743699689930707306,D46,Síndromes mielodisplásicos,14,65 a 69 años,16,De Ñuble,2,2,1,10068,0.000099,100947,10.026520
8516095850306856116,D46,Síndromes mielodisplásicos,16,75 a 79 años,16,De Ñuble,2,1,2,4959,0.000403,47319,19.084090

In [107]:
group_def.to_excel("/Users/alvaro/Documents/Data_Science/datasets/defunciones/group_def.xlsx",sheet_name='resultado')

In [115]:
a = group_def.groupby(['CODIGO_CATEGORIA_IARC','GLOSA_CATEGORIA_IARC','REG_RES', 'GLOSA_REG_RES', 'TRIENIO','SEXO'], as_index=False)['NUM_DEF'].sum()

In [159]:
a.query('REG_RES == 5 & CODIGO_CATEGORIA_IARC == "C15"')

,CODIGO_CATEGORIA_IARC,GLOSA_CATEGORIA_IARC,REG_RES,GLOSA_REG_RES,TRIENIO,SEXO,NUM_DEF,POBLACION,TMB
376,C15,Esófago,5,De Valparaíso,1,1,125,863426,4.825737
377,C15,Esófago,5,De Valparaíso,1,2,90,903132,3.321774
378,C15,Esófago,5,De Valparaíso,2,1,119,891643,4.448716
379,C15,Esófago,5,De Valparaíso,2,2,71,933199,2.536079

In [117]:
a.query('REG_RES == 2 & SEXO == 1 & TRIENIO == 2')

,CODIGO_CATEGORIA_IARC,GLOSA_CATEGORIA_IARC,REG_RES,GLOSA_REG_RES,TRIENIO,SEXO,NUM_DEF
35,C01-C02,Lengua,2,De Antofagasta,2,1,7
87,C03-C06,Cavidad oral,2,De Antofagasta,2,1,5
140,C07-C08,Glándulas salivales,2,De Antofagasta,2,1,2
192,C09,Amígdala,2,De Antofagasta,2,1,1
255,C11,Nasofaringe,2,De Antofagasta,2,1,1
326,C14,Faringe y boca no especificada,2,De Antofagasta,2,1,3
366,C15,Esófago,2,De Antofagasta,2,1,24
430,C16,Estómago,2,De Antofagasta,2,1,135
493,C17,Intestino delgado,2,De Antofagasta,2,1,3
546,C18,Colon,2,De Antofagasta,2,1,59
610,C19-C20,Recto,2,De Antofagasta,2,1,28
674,C21,Ano,2,De Antofagasta,2,1,2
729,C22,Hígado,2,De Antofagasta,2,1,58
793,C23-C24,Vesícula biliar,2,De Antofagasta,2,1,39
857,C25,Páncreas,2,De Antofagasta,2,1,58
921,"C26, C39, C76-C80",Primario desconocido,2,De Antofagasta,2,1,46
984,C30-C31,Cavidades nasales,2,De Antofagasta,2,1,3
1029,C32,Laringe,2,De Antofagasta,2,1,21
1088,C33-C34,"Tráquea, bronquios y pulmón",2,De Antofagasta,2,1,380
1152,C37-C38,Otros órganos torácicos,2,De Antofagasta,2,1,11
1214,C40-C41,Huesos y cartílagos,2,De Antofagasta,2,1,7
1273,C43,Melanoma de piel,2,De Antofagasta,2,1,3
1333,C44,Piel no melanoma,2,De Antofagasta,2,1,27
1393,C45,Mesotelioma,2,De Antofagasta,2,1,7
1448,C47-C49,Tejidos blandos,2,De Antofagasta,2,1,17
1765,C60,Pene,2,De Antofagasta,2,1,3
1796,C61,Próstata,2,De Antofagasta,2,1,134
1828,C62,Testículo,2,De Antofagasta,2,1,4
1874,C64,Riñón,2,De Antofagasta,2,1,57
1934,C65,Pelvis renal,2,De Antofagasta,2,1,5
1945,C66,Uréter,2,De Antofagasta,2,1,3
1971,C67,Vejiga urinaria,2,De Antofagasta,2,1,96
2032,C68,Otros órganos urinarios,2,De Antofagasta,2,1,10
2072,C69,Ojo,2,De Antofagasta,2,1,1
2109,C70-C72,Encéfalo y sistema nervioso,2,De Antofagasta,2,1,25
2173,C73,Tiroides,2,De Antofagasta,2,1,6
2232,C74,Glándula suprarenal,2,De Antofagasta,2,1,1
2275,C75,Otras glándulas endocrinas,2,De Antofagasta,2,1,1
2322,C81,Linfoma de Hodgkin,2,De Antofagasta,2,1,2
2379,"C82-C85, C96",Linfoma no Hodgkin,2,De Antofagasta,2,1,24
2469,C90,Mieloma múltiple,2,De Antofagasta,2,1,20
2533,C91,Leucemia linfoide,2,De Antofagasta,2,1,12
2597,C92-C94,Leucemia mieloide,2,De Antofagasta,2,1,12
2659,C95,Leucemia no especificada,2,De Antofagasta,2,1,5
2717,C97,Tumores malignos de sitios múltiples independi...,2,De Antofagasta,2,1,5
2769,"D45, D471, D473",Síndromes mieloproliferaticos crónicos,2,De Antofagasta,2,1,1
2820,D46,Síndromes mielodisplásicos,2,De Antofagasta,2,1,2

In [122]:
poblacion_tasabruta = group_poblacion.groupby(['Region','Nombre Region', 'Sexo'], as_index=False)['Poblacion 2011', 'Poblacion 2014'].sum()

/var/folders/bn/1gnxsrr57psgnfmcg9tz005m0000gn/T/ipykernel_3171/1839680386.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  poblacion_tasabruta = group_poblacion.groupby(['Region','Nombre Region', 'Sexo'], as_index=False)['Poblacion 2011', 'Poblacion 2014'].sum()

In [123]:
poblacion_tasabruta

,Region,Nombre Region,Sexo,Poblacion 2011,Poblacion 2014
0,1,Tarapacá,1,153017,162988
1,1,Tarapacá,2,148126,158690
2,2,Antofagasta,1,289719,302118
3,2,Antofagasta,2,280588,294037
4,3,Atacama,1,146360,150576
5,3,Atacama,2,142654,146970
6,4,Coquimbo,1,353125,370709
7,4,Coquimbo,2,365638,384723
8,5,Valparaíso,1,863426,891643
9,5,Valparaíso,2,903132,933199
10,6,Libertador General Bernardo O'Higgins,1,446519,461081
11,6,Libertador General Bernardo O'Higgins,2,445646,460805
12,7,Maule,1,506554,520789
13,7,Maule,2,518291,535542
14,8,Biobío,1,770684,784628
15,8,Biobío,2,805948,822388
16,9,La Araucanía,1,469807,477989
17,9,La Araucanía,2,486631,497389
18,10,Los Lagos,1,412004,423047
19,10,Los Lagos,2,413996,426040
20,11,Aysén del General Carlos Ibáñez del Campo,1,51678,52655
21,11,Aysén del General Carlos Ibáñez del Campo,2,49569,50791
22,12,Magallanes y de la Antártica Chilena,1,82636,84675
23,12,Magallanes y de la Antártica Chilena,2,79812,81800
24,13,Metropolitana de Santiago,1,3411550,3526022
25,13,Metropolitana de Santiago,2,3572690,3676573
26,14,Los Ríos,1,190296,193035
27,14,Los Ríos,2,194469,198606
28,15,Arica y Parinacota,1,108132,113127
29,15,Arica y Parinacota,2,110557,114829
30,16,Ñuble,1,235816,239346
31,16,Ñuble,2,245089,250807

In [124]:
def_poblacion = a[['REG_RES', 'SEXO', 'TRIENIO']].values.tolist()

In [126]:
poblacion_lista = poblacion_tasabruta[['Region', 'Sexo', 'Poblacion 2011', 'Poblacion 2014']].values.tolist()

In [128]:
len(poblacion_lista)

32

In [129]:
len(def_poblacion)

2874

In [141]:
pob_tmb = list()
for i in def_poblacion:
    if i[0] == 1: ## Esto es la región
        if i[1] == 1: ## Hombres
            if i[2] == 1: ## Región 1, sexo 1, trienio 1
                pob_tmb.append(poblacion_lista[0][2])
            elif i[2] == 2: ## Región 1, sexo 1, trienio 2
                pob_tmb.append(poblacion_lista[0][3])
        elif i[1] == 2: ## Mujeres
            if i[2] == 1: ## Región 1, sexo 2, trienio 1
                pob_tmb.append(poblacion_lista[1][2])
            elif i[2] == 2: ## Región 1, sexo 2, trienio 2
                pob_tmb.append(poblacion_lista[1][3])
    
    elif i[0] == 2:
        if i[1] == 1: ## Hombres
            if i[2] == 1: ## Región 2, sexo 1, trienio 1
                pob_tmb.append(poblacion_lista[2][2])
            elif i[2] == 2: ## Región 2, sexo 1, trienio 2
                pob_tmb.append(poblacion_lista[2][3])
        elif i[1] == 2: ## Mujeres
            if i[2] == 1: ## Región 2, sexo 2, trienio 1
                pob_tmb.append(poblacion_lista[3][2])
            elif i[2] == 2: ## Región 2, sexo 2, trienio 2
                pob_tmb.append(poblacion_lista[3][3])   
    
    elif i[0] == 3:
        if i[1] == 1: ## Hombres
            if i[2] == 1: ## Región 3, sexo 1, trienio 1
                pob_tmb.append(poblacion_lista[4][2])
            elif i[2] == 2: ## Región 3, sexo 1, trienio 2
                pob_tmb.append(poblacion_lista[4][3])
        elif i[1] == 2: ## Mujeres
            if i[2] == 1: ## Región 3, sexo 2, trienio 1
                pob_tmb.append(poblacion_lista[5][2])
            elif i[2] == 2: ## Región 3, sexo 2, trienio 2
                pob_tmb.append(poblacion_lista[5][3]) 
    
    elif i[0] == 4:
        if i[1] == 1: ## Hombres
            if i[2] == 1: ## Región 4, sexo 1, trienio 1
                pob_tmb.append(poblacion_lista[6][2])
            elif i[2] == 2: ## Región 4, sexo 1, trienio 2
                pob_tmb.append(poblacion_lista[6][3])
        elif i[1] == 2: ## Mujeres
            if i[2] == 1: ## Región 4, sexo 2, trienio 1
                pob_tmb.append(poblacion_lista[7][2])
            elif i[2] == 2: ## Región 4, sexo 2, trienio 2
                pob_tmb.append(poblacion_lista[7][3]) 
    
    elif i[0] == 5:
        if i[1] == 1: ## Hombres
            if i[2] == 1: ## Región 5, sexo 1, trienio 1
                pob_tmb.append(poblacion_lista[8][2])
            elif i[2] == 2: ## Región 5, sexo 1, trienio 2
                pob_tmb.append(poblacion_lista[8][3])
        elif i[1] == 2: ## Mujeres
            if i[2] == 1: ## Región 5, sexo 2, trienio 1
                pob_tmb.append(poblacion_lista[9][2])
            elif i[2] == 2: ## Región 5, sexo 2, trienio 2
                pob_tmb.append(poblacion_lista[9][3]) 
    
    elif i[0] == 6:
        if i[1] == 1: ## Hombres
            if i[2] == 1: ## Región 6, sexo 1, trienio 1
                pob_tmb.append(poblacion_lista[10][2])
            elif i[2] == 2: ## Región 6, sexo 1, trienio 2
                pob_tmb.append(poblacion_lista[10][3])
        elif i[1] == 2: ## Mujeres
            if i[2] == 1: ## Región 6, sexo 2, trienio 1
                pob_tmb.append(poblacion_lista[11][2])
            elif i[2] == 2: ## Región 6, sexo 2, trienio 2
                pob_tmb.append(poblacion_lista[11][3]) 
    
    elif i[0] == 7:
        if i[1] == 1: ## Hombres
            if i[2] == 1: ## Región 7, sexo 1, trienio 1
                pob_tmb.append(poblacion_lista[12][2])
            elif i[2] == 2: ## Región 7, sexo 1, trienio 2
                pob_tmb.append(poblacion_lista[12][3])
        elif i[1] == 2: ## Mujeres
            if i[2] == 1: ## Región 7, sexo 2, trienio 1
                pob_tmb.append(poblacion_lista[13][2])
            elif i[2] == 2: ## Región 7, sexo 2, trienio 2
                pob_tmb.append(poblacion_lista[13][3])
    
    elif i[0] == 8:
        if i[1] == 1: ## Hombres
            if i[2] == 1: ## Región 7, sexo 1, trienio 1
                pob_tmb.append(poblacion_lista[14][2])
            elif i[2] == 2: ## Región 7, sexo 1, trienio 2
                pob_tmb.append(poblacion_lista[14][3])
        elif i[1] == 2: ## Mujeres
            if i[2] == 1: ## Región 8, sexo 2, trienio 1
                pob_tmb.append(poblacion_lista[15][2])
            elif i[2] == 2: ## Región 8, sexo 2, trienio 2
                pob_tmb.append(poblacion_lista[15][3])
    
    elif i[0] == 9:
        if i[1] == 1: ## Hombres
            if i[2] == 1: ## Región 9, sexo 1, trienio 1
                pob_tmb.append(poblacion_lista[16][2])
            elif i[2] == 2: ## Región 9, sexo 1, trienio 2
                pob_tmb.append(poblacion_lista[16][3])
        elif i[1] == 2: ## Mujeres
            if i[2] == 1: ## Región 9, sexo 2, trienio 1
                pob_tmb.append(poblacion_lista[17][2])
            elif i[2] == 2: ## Región 9, sexo 2, trienio 2
                pob_tmb.append(poblacion_lista[17][3])
    
    elif i[0] == 10:
        if i[1] == 1: ## Hombres
            if i[2] == 1: ## Región 10, sexo 1, trienio 1
                pob_tmb.append(poblacion_lista[18][2])
            elif i[2] == 2: ## Región 10, sexo 1, trienio 2
                pob_tmb.append(poblacion_lista[18][3])
        elif i[1] == 2: ## Mujeres
            if i[2] == 1: ## Región 10, sexo 2, trienio 1
                pob_tmb.append(poblacion_lista[19][2])
            elif i[2] == 2: ## Región 10, sexo 2, trienio 2
                pob_tmb.append(poblacion_lista[19][3])
    
    elif i[0] == 11:
        if i[1] == 1: ## Hombres
            if i[2] == 1: ## Región 11, sexo 1, trienio 1
                pob_tmb.append(poblacion_lista[20][2])
            elif i[2] == 2: ## Región 11, sexo 1, trienio 2
                pob_tmb.append(poblacion_lista[20][3])
        elif i[1] == 2: ## Mujeres
            if i[2] == 1: ## Región 11, sexo 2, trienio 1
                pob_tmb.append(poblacion_lista[21][2])
            elif i[2] == 2: ## Región 11, sexo 2, trienio 2
                pob_tmb.append(poblacion_lista[21][3])
    
    elif i[0] == 12:
        if i[1] == 1: ## Hombres
            if i[2] == 1: ## Región 12, sexo 1, trienio 1
                pob_tmb.append(poblacion_lista[22][2])
            elif i[2] == 2: ## Región 12, sexo 1, trienio 2
                pob_tmb.append(poblacion_lista[22][3])
        elif i[1] == 2: ## Mujeres
            if i[2] == 1: ## Región 12, sexo 2, trienio 1
                pob_tmb.append(poblacion_lista[23][2])
            elif i[2] == 2: ## Región 12, sexo 2, trienio 2
                pob_tmb.append(poblacion_lista[23][3])
    
    elif i[0] == 13:
        if i[1] == 1: ## Hombres
            if i[2] == 1: ## Región 13, sexo 1, trienio 1
                pob_tmb.append(poblacion_lista[24][2])
            elif i[2] == 2: ## Región 13, sexo 1, trienio 2
                pob_tmb.append(poblacion_lista[24][3])
        elif i[1] == 2: ## Mujeres
            if i[2] == 1: ## Región 13, sexo 2, trienio 1
                pob_tmb.append(poblacion_lista[25][2])
            elif i[2] == 2: ## Región 13, sexo 2, trienio 2
                pob_tmb.append(poblacion_lista[25][3])
    
    elif i[0] == 14:
        if i[1] == 1: ## Hombres
            if i[2] == 1: ## Región 14, sexo 1, trienio 1
                pob_tmb.append(poblacion_lista[26][2])
            elif i[2] == 2: ## Región 14, sexo 1, trienio 2
                pob_tmb.append(poblacion_lista[26][3])
        elif i[1] == 2: ## Mujeres
            if i[2] == 1: ## Región 14, sexo 2, trienio 1
                pob_tmb.append(poblacion_lista[27][2])
            elif i[2] == 2: ## Región 14, sexo 2, trienio 2
                pob_tmb.append(poblacion_lista[27][3])
    
    elif i[0] == 15:
        if i[1] == 1: ## Hombres
            if i[2] == 1: ## Región 15, sexo 1, trienio 1
                pob_tmb.append(poblacion_lista[28][2])
            elif i[2] == 2: ## Región 15, sexo 1, trienio 2
                pob_tmb.append(poblacion_lista[28][3])
        elif i[1] == 2: ## Mujeres
            if i[2] == 1: ## Región 15, sexo 2, trienio 1
                pob_tmb.append(poblacion_lista[29][2])
            elif i[2] == 2: ## Región 15, sexo 2, trienio 2
                pob_tmb.append(poblacion_lista[29][3])
    
    elif i[0] == 16:
        if i[1] == 1: ## Hombres
            if i[2] == 1: ## Región 16, sexo 1, trienio 1
                pob_tmb.append(poblacion_lista[30][2])
            elif i[2] == 2: ## Región 16, sexo 1, trienio 2
                pob_tmb.append(poblacion_lista[30][3])
        elif i[1] == 2: ## Mujeres
            if i[2] == 1: ## Región 16, sexo 2, trienio 1
                pob_tmb.append(poblacion_lista[31][2])
            elif i[2] == 2: ## Región 16, sexo 2, trienio 2
                pob_tmb.append(poblacion_lista[31][3])

In [142]:
len(pob_tmb)

2874

In [145]:
a['POBLACION']=pob_tmb

In [149]:
a['TMB']=(a['NUM_DEF']/3)/a['POBLACION']*100000

In [151]:
tasa_bruta = a['TMB'].values.tolist()

In [153]:
max(tasa_bruta)

41.926223087226404

In [154]:
a

,CODIGO_CATEGORIA_IARC,GLOSA_CATEGORIA_IARC,REG_RES,GLOSA_REG_RES,TRIENIO,SEXO,NUM_DEF,POBLACION,TMB
0,C00,Labio,2,De Antofagasta,1,1,1,289719,0.115054
1,C00,Labio,2,De Antofagasta,1,2,1,280588,0.118798
2,C00,Labio,3,De Atacama,2,1,1,150576,0.221372
3,C00,Labio,4,De Coquimbo,1,2,1,365638,0.091165
4,C00,Labio,4,De Coquimbo,2,2,1,384723,0.086642
...,...,...,...,...,...,...,...,...,...
2869,D46,Síndromes mielodisplásicos,15,De Arica y Parinacota,2,2,5,114829,1.451434
2870,D46,Síndromes mielodisplásicos,16,De Ñuble,1,1,3,235816,0.424059
2871,D46,Síndromes mielodisplásicos,16,De Ñuble,1,2,5,245089,0.680025
2872,D46,Síndromes mielodisplásicos,16,De Ñuble,2,1,5,239346,0.696342
2873,D46,Síndromes mielodisplásicos,16,De Ñuble,2,2,4,250807,0.531617

# Agregar TMA al dataframe a

In [160]:
a

,CODIGO_CATEGORIA_IARC,GLOSA_CATEGORIA_IARC,REG_RES,GLOSA_REG_RES,TRIENIO,SEXO,NUM_DEF,POBLACION,TMB
0,C00,Labio,2,De Antofagasta,1,1,1,289719,0.115054
1,C00,Labio,2,De Antofagasta,1,2,1,280588,0.118798
2,C00,Labio,3,De Atacama,2,1,1,150576,0.221372
3,C00,Labio,4,De Coquimbo,1,2,1,365638,0.091165
4,C00,Labio,4,De Coquimbo,2,2,1,384723,0.086642
...,...,...,...,...,...,...,...,...,...
2869,D46,Síndromes mielodisplásicos,15,De Arica y Parinacota,2,2,5,114829,1.451434
2870,D46,Síndromes mielodisplásicos,16,De Ñuble,1,1,3,235816,0.424059
2871,D46,Síndromes mielodisplásicos,16,De Ñuble,1,2,5,245089,0.680025
2872,D46,Síndromes mielodisplásicos,16,De Ñuble,2,1,5,239346,0.696342
2873,D46,Síndromes mielodisplásicos,16,De Ñuble,2,2,4,250807,0.531617

In [161]:
group_def

,CODIGO_CATEGORIA_IARC,GLOSA_CATEGORIA_IARC,EDAD_QUIN,GLOSA_EDAD_QUIN,REG_RES,GLOSA_REG_RES,TRIENIO,SEXO,NUM_DEF,POBLACION,TBM,POB_ESTANDAR,MUERTES_ESPERADAS
3833099694026631422,C00,Labio,12,55 a 59 años,2,De Antofagasta,1,2,1,14173,0.000071,165183,11.654766
8277197492416471183,C00,Labio,16,75 a 79 años,2,De Antofagasta,1,1,1,2812,0.000356,47319,16.827525
122632594699170798,C00,Labio,17,80 y más años,4,De Coquimbo,1,2,1,10333,0.000097,71947,6.962838
-6418075019267743748,C00,Labio,16,75 a 79 años,5,De Valparaíso,1,1,1,15989,0.000063,47319,2.959472
-717079791663054677,C00,Labio,8,35 a 39 años,5,De Valparaíso,1,1,1,58212,0.000017,251160,4.314574
...,...,...,...,...,...,...,...,...,...,...,...,...,...
-1858638918047319156,D46,Síndromes mielodisplásicos,11,50 a 54 años,16,De Ñuble,2,1,1,16399,0.000061,188102,11.470334
5686216093552077384,D46,Síndromes mielodisplásicos,17,80 y más años,16,De Ñuble,2,2,3,8762,0.000342,71947,24.633759
6378685606920315424,D46,Síndromes mielodisplásicos,1,0 a 4 años,16,De Ñuble,2,1,1,15636,0.000064,343105,21.943272
7743699689930707306,D46,Síndromes mielodisplásicos,14,65 a 69 años,16,De Ñuble,2,2,1,10068,0.000099,100947,10.026520
8516095850306856116,D46,Síndromes mielodisplásicos,16,75 a 79 años,16,De Ñuble,2,1,2,4959,0.000403,47319,19.084090

In [166]:
esperadas = group_def.groupby(['CODIGO_CATEGORIA_IARC', 'REG_RES','TRIENIO', 'SEXO' ], as_index=False)[['MUERTES_ESPERADAS']].sum()

In [168]:
len(esperadas.values.tolist())

2874

In [169]:
esperadas.values.tolist()

[['C00', 2, 1, 1, 16.82752489331437],
 ['C00', 2, 1, 2, 11.654766104565017],
 ['C00', 3, 2, 1, 20.580333068992864],
 ['C00', 4, 1, 2, 6.962837510887448],
 ['C00', 4, 2, 2, 5.962787999336981],
 ['C00', 5, 1, 1, 13.5796954992142],
 ['C00', 5, 1, 2, 2.231606699751861],
 ['C00', 5, 2, 1, 7.0327175020551485],
 ['C00', 7, 1, 1, 9.433693304535637],
 ['C00', 7, 2, 1, 4.959997064004697],
 ['C00', 8, 1, 1, 7.07450599287334],
 ['C00', 8, 1, 2, 7.092523957994899],
 ['C00', 8, 2, 1, 17.149010690325873],
 ['C00', 8, 2, 2, 6.89822330703298],
 ['C00', 9, 1, 1, 4.693531055233183],
 ['C00', 9, 2, 1, 10.891702378012463],
 ['C00', 10, 1, 1, 7.579186512910503],
 ['C00', 10, 1, 2, 6.457278765033208],
 ['C00', 11, 2, 2, 62.67160278745644],
 ['C00', 12, 2, 1, 34.691348973607035],
 ['C00', 13, 1, 1, 3.051152305365515],
 ['C00', 13, 1, 2, 0.864957190093503],
 ['C00', 13, 2, 1, 1.8023275308207505],
 ['C00', 13, 2, 2, 0.6148633057865366],
 ['C00', 14, 1, 1, 11.401200730879667],
 ['C00', 14, 2, 1, 13.496105452366686],
 ['C00', 16, 1, 1, 12.526319869757344],
 ['C00', 16, 1, 2, 9.409756735547997],
 ['C00', 16, 2, 1, 30.582828474948016],
 ['C01-C02', 1, 1, 1, 30.746588693957115],
 ['C01-C02', 1, 1, 2, 49.448303778440064],
 ['C01-C02', 1, 2, 1, 43.121172753573845],
 ['C01-C02', 1, 2, 2, 23.39739837398374],
 ['C01-C02', 2, 1, 1, 28.084333647836647],
 ['C01-C02', 2, 1, 2, 37.98749649553505],
 ['C01-C02', 2, 2, 1, 96.97264914268774],
 ['C01-C02', 2, 2, 2, 23.28195693948031],
 ['C01-C02', 3, 2, 1, 21.534416826003824],
 ['C01-C02', 4, 1, 1, 32.39875097357468],
 ['C01-C02', 4, 1, 2, 39.86825738440464],
 ['C01-C02', 4, 2, 1, 15.195144432012636],
 ['C01-C02', 5, 1, 1, 28.330551404265872],
 ['C01-C02', 5, 1, 2, 13.710886200212965],
 ['C01-C02', 5, 2, 1, 15.049462220904179],
 ['C01-C02', 5, 2, 2, 23.190569343027395],
 ['C01-C02', 6, 1, 1, 33.63621512650259],
 ['C01-C02', 6, 1, 2, 14.135453550467545],
 ['C01-C02', 6, 2, 1, 45.548164837401316],
 ['C01-C02', 6, 2, 2, 39.26435606306937],
 ['C01-C02', 7, 1, 1, 11.820697668661087],
 ['C01-C02', 7, 1, 2, 5.517145052028773],
 ['C01-C02', 7, 2, 1, 14.879991192014094],
 ['C01-C02', 7, 2, 2, 17.75373405402909],
 ['C01-C02', 8, 1, 1, 49.04290980464051],
 ['C01-C02', 8, 1, 2, 10.817782447162687],
 ['C01-C02', 8, 2, 1, 43.42892757433986],
 ['C01-C02', 8, 2, 2, 20.649423488721308],
 ['C01-C02', 9, 1, 1, 10.569618011754923],
 ['C01-C02', 9, 1, 2, 6.632286679808504],
 ['C01-C02', 9, 2, 1, 6.293983805126146],
 ['C01-C02', 9, 2, 2, 17.14537763929386],
 ['C01-C02', 10, 1, 1, 24.2938477287151],
 ['C01-C02', 10, 1, 2, 7.828256856540084],
 ['C01-C02', 10, 2, 1, 21.617836424381633],
 ['C01-C02', 10, 2, 2, 13.084102279870681],
 ['C01-C02', 11, 2, 1, 118.04177393176117],
 ['C01-C02', 12, 1, 1, 102.19396833584018],
 ['C01-C02', 12, 1, 2, 34.68207762557078],
 ['C01-C02', 12, 2, 1, 104.7096291125477],
 ['C01-C02', 13, 1, 1, 40.146281726491075],
 ['C01-C02', 13, 1, 2, 26.990889360901345],
 ['C01-C02', 13, 2, 1, 42.38066909110691],
 ['C01-C02', 13, 2, 2, 11.610726357289703],
 ['C01-C02', 14, 1, 1, 77.84502137147783],
 ['C01-C02', 14, 2, 1, 14.522551762730835],
 ['C01-C02', 14, 2, 2, 12.515550978372811],
 ['C01-C02', 15, 1, 1, 30.29628764884427],
 ['C01-C02', 15, 2, 2, 24.10962502985431],
 ['C01-C02', 16, 1, 1, 37.760482763107525],
 ['C01-C02', 16, 1, 2, 36.72353396722186],
 ['C01-C02', 16, 2, 1, 32.75077611149747],
 ['C01-C02', 16, 2, 2, 8.211253138552841],
 ['C03-C06', 1, 1, 1, 21.173120216118864],
 ['C03-C06', 1, 2, 1, 26.16144018583043],
 ['C03-C06', 1, 2, 2, 66.06791211710946],
 ['C03-C06', 2, 1, 1, 74.56385846390985],
 ['C03-C06', 2, 1, 2, 24.909556082457428],
 ['C03-C06', 2, 2, 1, 59.24351383175915],
 ['C03-C06', 2, 2, 2, 25.546504064817682],
 ['C03-C06', 3, 1, 1, 22.299245994344957],
 ['C03-C06', 3, 2, 1, 98.11641555917855],
 ['C03-C06', 3, 2, 2, 42.538120458845285],
 ['C03-C06', 4, 1, 1, 25.49228868483651],
 ['C03-C06', 4, 1, 2, 7.568883906327852],
 ['C03-C06', 4, 2, 1, 31.158686205654483],
 ['C03-C06', 5, 1, 1, 45.701713945223226],
 ['C03-C06', 5, 1, 2, 18.069200475553437],
 ['C03-C06', 5, 2, 1, 40.6240270736269],
 ['C03-C06', 5, 2, 2, 28.828656002274613],
 ['C03-C06', 6, 1, 1, 31.424707503587637],
 ['C03-C06', 6, 2, 1, 35.127486429444026],
 ['C03-C06', 6, 2, 2, 6.07940457676072],
 ['C03-C06', 7, 1, 1, 45.08920623619974],
 ['C03-C06', 7, 1, 2, 18.05031166662775],
 ['C03-C06', 7, 2, 1, 35.10897960192375],
 ['C03-C06', 8, 1, 1, 35.50794377941094],
 ['C03-C06', 8, 1, 2, 21.99901936491594],
 ['C03-C06', 8, 2, 1, 32.80066860091618],
 ['C03-C06', 8, 2, 2, 19.567563753887665],
 ['C03-C06', 9, 1, 1, 49.62829834683593],
 ['C03-C06', 9, 1, 2, 27.561980533274077],
 ['C03-C06', 9, 2, 1, 9.528048533569471],
 ['C03-C06', 9, 2, 2, 23.22655423981663],
 ['C03-C06', 10, 1, 1, 45.56501771746149],
 ['C03-C06', 10, 1, 2, 12.914557530066416],
 ['C03-C06', 10, 2, 1, 27.334978772062723],
 ['C03-C06', 10, 2, 2, 30.09837206593715],
 ['C03-C06', 11, 1, 1, 71.26355421686748],
 ['C03-C06', 11, 2, 1, 57.24508519003932],
 ['C03-C06', 12, 1, 2, 33.793799906059185],
 ['C03-C06', 12, 2, 1, 32.684969591659424],
 ['C03-C06', 13, 1, 1, 41.47847724975602],
 ['C03-C06', 13, 1, 2, 25.540644230552278],
 ['C03-C06', 13, 2, 1, 35.58641924510169],
 ['C03-C06', 13, 2, 2, 17.355528650742606],
 ['C03-C06', 14, 1, 1, 16.02151710461081],
 ['C03-C06', 14, 1, 2, 40.412928426095114],
 ['C03-C06', 14, 2, 1, 36.10464782129452],
 ['C03-C06', 14, 2, 2, 12.808041504539558],
 ['C03-C06', 15, 1, 1, 31.329447035309794],
 ['C03-C06', 15, 1, 2, 56.66915894883567],
 ['C03-C06', 15, 2, 1, 101.19139360399498],
 ['C03-C06', 16, 1, 1, 23.147868691306165],
 ['C03-C06', 16, 1, 2, 10.356741094256007],
 ['C03-C06', 16, 2, 1, 32.131415332458985],
 ['C07-C08', 1, 1, 1, 29.573304157549234],
 ['C07-C08', 1, 2, 1, 45.82504043671899],
 ['C07-C08', 1, 2, 2, 50.74348298244459],
 ['C07-C08', 2, 1, 1, 41.00067945256568],
 ['C07-C08', 2, 1, 2, 13.25478997789241],
 ['C07-C08', 2, 2, 1, 26.444624349638516],
 ['C07-C08', 2, 2, 2, 11.888136153337738],
 ['C07-C08', 3, 1, 1, 43.8428130841243],
 ['C07-C08', 3, 1, 2, 22.504535502033157],
 ['C07-C08', 3, 2, 1, 41.529186252811584],
 ['C07-C08', 4, 1, 1, 16.6872885229818],
 ['C07-C08', 4, 1, 2, 16.89571897781648],
 ['C07-C08', 4, 2, 1, 6.832082009818078],
 ['C07-C08', 4, 2, 2, 5.962787999336981],
 ['C07-C08', 5, 1, 1, 27.977662404079545],
 ['C07-C08', 5, 1, 2, 8.596244798428927],
 ['C07-C08', 5, 2, 1, 22.155705098560123],
 ['C07-C08', 5, 2, 2, 17.77602541977692],
 ['C07-C08', 6, 1, 1, 26.491371325325048],
 ['C07-C08', 6, 1, 2, 6.761352980576021],
 ['C07-C08', 6, 2, 1, 22.31354328821887],
 ['C07-C08', 6, 2, 2, 5.2078899746652185],
 ['C07-C08', 7, 1, 1, 19.78297139431496],
 ['C07-C08', 7, 1, 2, 10.81978737392605],
 ['C07-C08', 7, 2, 1, 9.919994128009394],
 ['C07-C08', 7, 2, 2, 18.425849195395923],
 ['C07-C08', 8, 1, 1, 20.103264505196165],
 ['C07-C08', 8, 1, 2, 18.42857868799268],
 ['C07-C08', 8, 2, 1, 41.78571306259459],
 ['C07-C08', 8, 2, 2, 22.203444427071574],
 ['C07-C08', 9, 1, 1, 30.272590468740667],
 ['C07-C08', 9, 1, 2, 6.5804716755637],
 ['C07-C08', 9, 2, 1, 11.435277240737628],
 ['C07-C08', 9, 2, 2, 4.184668178910021],
 ['C07-C08', 10, 1, 1, 33.39742016701907],
 ['C07-C08', 10, 1, 2, 27.893790705572837],
 ['C07-C08', 10, 2, 1, 5.94744008714597],
 ['C07-C08', 10, 2, 2, 7.512917396246122],
 ['C07-C08', 11, 1, 1, 67.82298136645963],
 ['C07-C08', 11, 1, 2, 82.47303921568627],
 ['C07-C08', 12, 1, 2, 36.953691275167785],
 ['C07-C08', 12, 2, 2, 29.43821603927987],
 ['C07-C08', 13, 1, 1, 29.717404974450236],
 ['C07-C08', 13, 1, 2, 8.820751088356182],
 ['C07-C08', 13, 2, 1, 25.122342720870137],
 ['C07-C08', 13, 2, 2, 14.442648835035895],
 ['C07-C08', 14, 1, 1, 11.401200730879667],
 ['C07-C08', 14, 2, 2, 30.210059584288913],
 ['C07-C08', 15, 1, 1, 55.1489898989899],
 ['C07-C08', 15, 2, 1, 51.129490392648286],
 ['C07-C08', 15, 2, 2, 24.72613458528951],
 ['C07-C08', 16, 1, 1, 12.275794557201591],
 ['C07-C08', 16, 2, 1, 7.854342744110771],
 ['C09', 1, 1, 2, 26.25802919708029],
 ['C09', 1, 2, 1, 22.996743486973944],
 ['C09', 2, 1, 1, 15.12919986144787],
 ['C09', 2, 1, 2, 14.394267788392984],
 ['C09', 2, 2, 1, 10.788974806684958],
 ['C09', 3, 1, 1, 21.120889748549324],
 ['C09', 4, 1, 1, 9.039272727272728],
 ['C09', 4, 1, 2, 6.962837510887448],
 ['C09', 4, 2, 1, 5.547821668995301],
 ['C09', 4, 2, 2, 15.941172680992285],
 ['C09', 5, 1, 1, 9.55227007664843],
 ['C09', 5, 1, 2, 5.471124252213128],
 ['C09', 5, 2, 1, 5.984750116170655],
 ['C09', 5, 2, 2, 2.470944654548412],
 ['C09', 6, 1, 1, 6.975165295920013],
 ['C09', 6, 2, 1, 23.527088629289917],
 ['C09', 7, 1, 1, 10.572161827365093],
 ['C09', 7, 2, 1, 9.072618690752833],
 ['C09', 8, 1, 1, 4.051284246575342],
 ['C09', 8, 1, 2, 3.343572822753044],
 ['C09', 8, 2, 1, 14.576695447255162],
 ['C09', 9, 1, 1, 13.11992575779821],
 ['C09', 9, 2, 1, 6.078559048109804],
 ['C09', 9, 2, 2, 9.673602983977718],
 ['C09', 10, 1, 1, 8.519401221193618],
 ['C09', 10, 1, 2, 6.457278765033208],
 ['C09', 10, 2, 1, 6.875763125763125],
 ['C09', 13, 1, 1, 15.528077284171735],
 ['C09', 13, 1, 2, 6.894827529190138],
 ['C09', 13, 2, 1, 14.19805112247328],
 ['C09', 13, 2, 2, 9.353163219422672],
 ['C09', 14, 2, 2, 12.515550978372811],
 ['C09', 15, 2, 1, 26.60433070866142],
 ['C10', 2, 1, 1, 28.445663069862675],
 ['C10', 2, 1, 2, 13.751834355211578],
 ['C10', 2, 2, 2, 12.768403743991904],
 ['C10', 4, 2, 1, 32.024716574298054],
 ['C10', 5, 1, 1, 47.36058499657113],
 ['C10', 5, 1, 2, 5.10554264281236],
 ['C10', 5, 2, 1, 45.383364737016365],
 ['C10', 5, 2, 2, 7.361696284309554],
 ['C10', 6, 1, 1, 13.020231213872833],
 ['C10', 6, 2, 1, 5.80441504896066],
 ['C10', 7, 1, 1, 22.65461791962433],
 ['C10', 7, 2, 1, 20.17978660832619],
 ['C10', 7, 2, 2, 4.469035343810175],
 ['C10', 8, 1, 1, 13.117503216641833],
 ['C10', 8, 1, 2, 6.687145645506088],
 ['C10', 8, 2, 1, 22.556895311429273],
 ['C10', 8, 2, 2, 4.4874218763600915],
 ['C10', 9, 1, 1, 20.375390234949098],
 ['C10', 9, 2, 1, 29.161751769631586],
 ['C10', 9, 2, 2, 9.350092528328094],
 ['C10', 10, 1, 1, 8.519401221193618],
 ['C10', 12, 2, 1, 30.2182532261081],
 ['C10', 12, 2, 2, 35.50721069293],
 ['C10', 13, 1, 1, 19.0174218089735],
 ['C10', 13, 1, 2, 4.090555269349464],
 ['C10', 13, 2, 1, 18.50936248914679],
 ['C10', 13, 2, 2, 6.273113244780796],
 ['C10', 14, 1, 1, 21.815543531726515],
 ['C10', 14, 2, 1, 14.522551762730835],
 ['C10', 15, 2, 1, 26.309610705596107],
 ['C10', 15, 2, 2, 50.438778195928066],
 ['C10', 16, 1, 1, 22.879121091016124],
 ['C10', 16, 2, 1, 9.81010899764907],
 ['C11', 2, 1, 1, 25.87147959111781],
 ['C11', 2, 2, 1, 10.93629046843914],
 ['C11', 2, 2, 2, 13.658367911479946],
 ['C11', 3, 1, 1, 24.561612720045428],
 ['C11', 3, 1, 2, 25.111194029850743],
 ['C11', 3, 2, 2, 22.630540037243946],
 ['C11', 4, 1, 1, 12.890069352220747],
 ['C11', 4, 1, 2, 18.541774600070354],
 ['C11', 5, 1, 1, 18.374690278627156],
 ['C11', 5, 1, 2, 3.2121181123840694],
 ['C11', 5, 2, 1, 9.282841273615507],
 ['C11', 5, 2, 2, 5.5661440562678015],
 ['C11', 6, 1, 1, 15.717418285813071],
 ['C11', 7, 1, 1, 17.330139406330854],
 ['C11', 7, 1, 2, 5.749495301079011],
 ['C11', 7, 2, 1, 14.944166018376455],
 ['C11', 8, 1, 1, 8.311329009593784],
 ['C11', 9, 1, 2, 20.057525017617174],
 ['C11', 9, 2, 1, 17.8132294739441],
 ['C11', 9, 2, 2, 4.184668178910021],
 ['C11', 10, 1, 1, 14.644319949153275],
 ['C11', 10, 1, 2, 7.128033925832356],
 ['C11', 10, 2, 1, 20.869849658587924],
 ['C11', 12, 1, 2, 33.793799906059185],
 ['C11', 12, 2, 1, 31.385641025641025],
 ['C11', 13, 1, 1, 11.098089383667345],
 ['C11', 13, 1, 2, 3.225598079255961],
 ['C11', 13, 2, 1, 6.267069976002414],
 ['C11', 13, 2, 2, 1.3889017673249981],
 ['C11', 14, 2, 1, 27.4861999357559],
 ['C11', 15, 2, 1, 25.564745196324143],
 ['C11', 16, 2, 1, 11.470333556924203],
 ['C12-C13', 1, 1, 2, 26.25802919708029],
 ['C12-C13', 1, 2, 1, 19.68530701754386],
 ['C12-C13', 2, 2, 2, 12.768403743991904],
 ['C12-C13', 3, 1, 1, 22.299245994344957],
 ['C12-C13', 4, 1, 1, 8.544583023082652],
 ['C12-C13', 4, 1, 2, 6.962837510887448],
 ['C12-C13', 4, 2, 1, 8.11170239469853],
 ['C12-C13', 5, 1, 1, 9.607202744000432],
 ['C12-C13', 5, 1, 2, 13.08316239194817],
 ['C12-C13', 5, 2, 1, 15.385511504116351],
 ['C12-C13', 5, 2, 2, 1.9485158704365724],
 ['C12-C13', 6, 1, 1, 12.765932634963916],
 ['C12-C13', 6, 2, 1, 16.523643886949984],
 ['C12-C13', 7, 1, 1, 19.700392125003194],
 ['C12-C13', 7, 2, 1, 22.586779035544232],
 ['C12-C13', 8, 1, 1, 11.605598234570685],
 ['C12-C13', 8, 1, 2, 7.497902270483711],
 ['C12-C13', 8, 2, 1, 7.250803703237301],
 ['C12-C13', 8, 2, 2, 23.312914986770345],
 ['C12-C13', 9, 1, 1, 11.673198636320805],
 ['C12-C13', 9, 1, 2, 5.5013927576601676],
 ['C12-C13', 9, 2, 1, 4.1713303409416485],
 ['C12-C13', 9, 2, 2, 5.165424349418072],
 ['C12-C13', 10, 1, 1, 30.042082353148636],
 ['C12-C13', 10, 2, 1, 12.87347951593404],
 ['C12-C13', 11, 2, 1, 61.15384615384615],
 ['C12-C13', 13, 1, 1, 12.122952377639367],
 ['C12-C13', 13, 1, 2, 1.3781498118014386],
 ['C12-C13', 13, 2, 1, 21.154630416039193],
 ['C12-C13', 13, 2, 2, 3.973773779734514],
 ['C12-C13', 14, 1, 2, 15.846412125863392],
 ['C12-C13', 14, 2, 1, 23.697319792810802],
 ['C12-C13', 14, 2, 2, 10.603831982313928],
 ['C12-C13', 15, 1, 2, 28.74314096499527],
 ['C12-C13', 15, 2, 1, 29.40012503907471],
 ['C12-C13', 16, 1, 2, 11.102837659480864],
 ['C12-C13', 16, 2, 1, 9.81010899764907],
 ['C14', 1, 1, 1, 27.502396644697424],
 ['C14', 1, 2, 1, 20.82808988764045],
 ['C14', 2, 1, 1, 16.82752489331437],
 ['C14', 2, 2, 1, 40.34408122292219],
 ['C14', 3, 2, 1, 21.011989342806395],
 ['C14', 4, 1, 1, 15.991702947539686],
 ['C14', 4, 1, 2, 6.962837510887448],
 ['C14', 4, 2, 1, 6.832082009818078],
 ['C14', 5, 1, 1, 11.711846548935165],
 ['C14', 5, 1, 2, 12.325933244376516],
 ['C14', 5, 2, 1, 12.461034605442144],
 ['C14', 5, 2, 2, 6.992249510224607],
 ['C14', 6, 1, 1, 20.923787759859493],
 ['C14', 6, 1, 2, 6.673424564960298],
 ['C14', 6, 2, 1, 34.775648015137904],
 ['C14', 7, 1, 1, 5.632431437511503],
 ['C14', 7, 1, 2, 5.8302388909518505],
 ['C14', 7, 2, 1, 5.1068125467354095],
 ['C14', 8, 1, 1, 10.61175898931001],
 ['C14', 8, 2, 1, 14.638433001839843],
 ['C14', 9, 1, 1, 17.813456813031394],
 ['C14', 9, 2, 2, 4.184668178910021],
 ['C14', 10, 1, 1, 7.879933388842631],
 ['C14', 10, 1, 2, 8.4810934787999],
 ['C14', 10, 2, 1, 5.94744008714597],
 ['C14', 11, 2, 1, 60.79668874172185],
 ['C14', 12, 1, 1, 35.472565687789796],
 ['C14', 13, 1, 1, 21.458474496977008],
 ['C14', 13, 1, 2, 0.6890749059007193],
 ['C14', 13, 2, 1, 11.634323339704368],
 ['C14', 13, 2, 2, 5.01873838679183],
 ['C14', 14, 1, 1, 11.401200730879667],
 ['C14', 15, 1, 1, 28.386827458256032],
 ['C14', 15, 2, 1, 26.309610705596107],
 ['C14', 15, 2, 2, 26.42867162294852],
 ['C14', 16, 1, 1, 12.275794557201591],
 ['C14', 16, 2, 1, 10.991867852604829],
 ['C15', 1, 1, 1, 240.9676411349839],
 ['C15', 1, 1, 2, 55.597961596887146],
 ['C15', 1, 2, 1, 374.1951750268456],
 ['C15', 1, 2, 2, 143.1381162412897],
 ['C15', 2, 1, 1, 350.1453407566564],
 ['C15', 2, 1, 2, 136.92555902862193],
 ['C15', 2, 2, 1, 322.320834380903],
 ['C15', 2, 2, 2, 205.88017993342413],
 ['C15', 3, 1, 1, 200.26586661987824],
 ['C15', 3, 1, 2, 180.03628401626526],
 ['C15', 3, 2, 1, 305.2715267184606],
 ['C15', 3, 2, 2, 216.64071678102695],
 ['C15', 4, 1, 1, 565.9375058361552],
 ['C15', 4, 1, 2, 362.1177330974526],
 ['C15', 4, 2, 1, 473.3928485938022],
 ['C15', 4, 2, 2, 260.88764120156293],
 ['C15', 5, 1, 1, 369.5597151383519],
 ['C15', 5, 1, 2, 225.76979203756957],
 ['C15', 5, 2, 1, 320.2023106532206],
 ['C15', 5, 2, 2, 165.33867185657414],
 ['C15', 6, 1, 1, 570.3873370813498],
 ['C15', 6, 1, 2, 233.7782324396906],
 ['C15', 6, 2, 1, 477.44997637764044],
 ['C15', 6, 2, 2, 319.43103843528996],
 ['C15', 7, 1, 1, 669.3860301030477],
 ['C15', 7, 1, 2, 299.1264460226712],
 ['C15', 7, 2, 1, 489.36746309308944],
 ['C15', 7, 2, 2, 343.12561109625875],
 ['C15', 8, 1, 1, 593.2165111861556],
 ['C15', 8, 1, 2, 313.8520214534652],
 ['C15', 8, 2, 1, 475.239390957509],
 ['C15', 8, 2, 2, 328.7570355207107],
 ['C15', 9, 1, 1, 623.179959872698],
 ['C15', 9, 1, 2, 534.6485197544248],
 ['C15', 9, 2, 1, 593.0899533393621],
 ['C15', 9, 2, 2, 385.806829557093],
 ['C15', 10, 1, 1, 597.2172218108267],
 ['C15', 10, 1, 2, 202.48692871035044],
 ['C15', 10, 2, 1, 427.28214762498953],
 ['C15', 10, 2, 2, 262.15025752697574],
 ['C15', 11, 1, 1, 682.9944333693277],
 ['C15', 11, 1, 2, 296.22287516695104],
 ['C15', 11, 2, 1, 304.54396445646825],
 ['C15', 11, 2, 2, 124.5009727449808],
 ['C15', 12, 1, 1, 598.5372085302348],
 ['C15', 12, 1, 2, 208.4766406761796],
 ['C15', 12, 2, 1, 396.6662261392609],
 ['C15', 12, 2, 2, 62.33642935817538],
 ['C15', 13, 1, 1, 300.21557661430785],
 ['C15', 13, 1, 2, 151.17599892037484],
 ['C15', 13, 2, 1, 254.26525794222616],
 ['C15', 13, 2, 2, 164.6351180605618],
 ['C15', 14, 1, 1, 635.9569798553539],
 ['C15', 14, 1, 2, 269.03869942468674],
 ['C15', 14, 2, 1, 423.4048505835528],
 ['C15', 14, 2, 2, 288.45136042782735],
 ['C15', 15, 1, 1, 292.0167785871133],
 ['C15', 15, 1, 2, 115.46553729146902],
 ['C15', 15, 2, 1, 130.37173950604213],
 ['C15', 15, 2, 2, 51.110415957412826],
 ['C15', 16, 1, 1, 534.164490687967],
 ['C15', 16, 1, 2, 288.13276945977606],
 ['C15', 16, 2, 1, 464.6464244641954],
 ['C15', 16, 2, 2, 349.584517304644],
 ['C16', 1, 1, 1, 2205.0484989066463],
 ['C16', 1, 1, 2, 952.0919871542018],
 ['C16', 1, 2, 1, 2052.4100286742073],
 ['C16', 1, 2, 2, 868.03967585142],
 ['C16', 2, 1, 1, 1797.300212249355],
 ['C16', 2, 1, 2, 855.0664497928535],
 ['C16', 2, 2, 1, 1767.7736137833272],
 ['C16', 2, 2, 2, 726.7442374814932],
 ['C16', 3, 1, 1, 1705.2066785575516],
 ['C16', 3, 1, 2, 909.206998461393],
 ['C16', 3, 2, 1, 1992.3505356745306],
 ['C16', 3, 2, 2, 830.5872626408348],
 ['C16', 4, 1, 1, 1918.751954713236],
 ['C16', 4, 1, 2, 1115.3399109541515],
 ['C16', 4, 2, 1, 1977.9573511659353],
 ['C16', 4, 2, 2, 985.3933411275007],
 ['C16', 5, 1, 1, 2314.703304791202],
 ['C16', 5, 1, 2, 1114.770703394018],
 ['C16', 5, 2, 1, 2121.4369578417704],
 ['C16', 5, 2, 2, 994.8727748320599],
 ['C16', 6, 1, 1, 1974.7992268850664],
 ['C16', 6, 1, 2, 918.2541620828953],
 ['C16', 6, 2, 1, 1815.5148812113],
 ['C16', 6, 2, 2, 968.1024448426165],
 ['C16', 7, 1, 1, 2749.7560425947486],
 ['C16', 7, 1, 2, 1249.4364789594977],
 ['C16', 7, 2, 1, 2648.558719393337],
 ['C16', 7, 2, 2, 1247.295930015626],
 ['C16', 8, 1, 1, 3204.6382088555865],
 ['C16', 8, 1, 2, 1349.9681454736262],
 ['C16', 8, 2, 1, 2870.766969287468],
 ['C16', 8, 2, 2, 1355.1359825214408],
 ['C16', 9, 1, 1, 3149.4044558679375],
 ['C16', 9, 1, 2, 1373.5955377040405],
 ['C16', 9, 2, 1, 2553.272127476831],
 ['C16', 9, 2, 2, 1208.398206154429],
 ['C16', 10, 1, 1, 2778.014425164756],
 ['C16', 10, 1, 2, 1380.3172237897847],
 ['C16', 10, 2, 1, 2468.9011248083075],
 ['C16', 10, 2, 2, 1295.3325651212403],
 ['C16', 11, 1, 1, 3327.8813166655605],
 ['C16', 11, 1, 2, 2317.4190860942344],
 ['C16', 11, 2, 1, 2527.023467632994],
 ['C16', 11, 2, 2, 1233.5473219583],
 ['C16', 12, 1, 1, 2410.8339270443953],
 ['C16', 12, 1, 2, 843.2349579488779],
 ['C16', 12, 2, 1, 1902.83160891811],
 ['C16', 12, 2, 2, 879.7170627780837],
 ['C16', 13, 1, 1, 2098.960395024373],
 ['C16', 13, 1, 2, 932.7076083670396],
 ['C16', 13, 2, 1, 1794.8209672283201],
 ['C16', 13, 2, 2, 796.5327754548874],
 ['C16', 14, 1, 1, 3031.467537250205],
 ['C16', 14, 1, 2, 1418.7199210561218],
 ['C16', 14, 2, 1, 2936.8259595186505],
 ['C16', 14, 2, 2, 1139.719715971824],
 ['C16', 15, 1, 1, 1472.8172804693163],
 ['C16', 15, 1, 2, 710.7204475509509],
 ['C16', 15, 2, 1, 1443.8604850286738],
 ['C16', 15, 2, 2, 591.8059872686966],
 ['C16', 16, 1, 1, 2822.5552093034767],
 ['C16', 16, 1, 2, 1251.9602315214584],
 ['C16', 16, 2, 1, 2686.0791113479627],
 ['C16', 16, 2, 2, 1259.3316282573564],
 ['C17', 1, 1, 1, 29.573304157549234],
 ['C17', 1, 2, 1, 46.989530073470874],
 ['C17', 1, 2, 2, 50.74348298244459],
 ['C17', 2, 1, 1, 14.881342194845194],
 ['C17', 2, 1, 2, 39.752456439894885],
 ['C17', 2, 2, 1, 36.70995942931544],
 ['C17', 3, 1, 2, 22.504535502033157],

# Defunciones por comuna

In [76]:
group_def_com = df_defunciones.groupby(['CODIGO_CATEGORIA_IARC','GLOSA_CATEGORIA_IARC', 'EDAD_QUIN', 'GLOSA_EDAD_QUIN', 'COMUNA', 'GLOSA_COMUNA_RESIDENCIA', 'ANO_DEF', 'SEXO'], as_index=False)[['DIA_DEF']].count()

In [77]:
group_def_com

,CODIGO_CATEGORIA_IARC,GLOSA_CATEGORIA_IARC,EDAD_QUIN,GLOSA_EDAD_QUIN,COMUNA,GLOSA_COMUNA_RESIDENCIA,ANO_DEF,SEXO,DIA_DEF
0,C00,Labio,8,35 a 39 años,5601,San Antonio,2011,1,1
1,C00,Labio,9,40 a 44 años,5804,Villa Alemana,2015,1,1
2,C00,Labio,9,40 a 44 años,10303,Purranque,2011,1,1
3,C00,Labio,10,45 a 49 años,5101,Valparaíso,2012,1,1
4,C00,Labio,10,45 a 49 años,13129,San Joaquín,2013,1,1
...,...,...,...,...,...,...,...,...,...
97469,D46,Síndromes mielodisplásicos,17,80 y más años,16108,San Ignacio,2012,2,1
97470,D46,Síndromes mielodisplásicos,17,80 y más años,16203,Coelemu,2015,2,1
97471,D46,Síndromes mielodisplásicos,17,80 y más años,16301,San Carlos,2011,2,1
97472,D46,Síndromes mielodisplásicos,17,80 y más años,16301,San Carlos,2013,2,1
97473,D46,Síndromes mielodisplásicos,17,80 y más años,16302,Coihueco,2015,2,1

In [78]:
numero_defunciones_com = group_def_com.values.tolist()

In [79]:
len(numero_defunciones_com)

97474