# Cálculo de las tasas de mortalidad bruta y ajustada por edad y sexo

## Importar paquetes

In [1]:
import pandas as pd
import numpy as np

## Rutas de archivos

In [2]:
path = "/Users/alvaro/Documents/Data_Science/datasets/defunciones/"
path_ = "/Users/alvaro/Documents/Data_Science/datasets/poblacion/"

## Nombres de archivos

In [3]:
nom = "DEF_2010_2018.csv"
nom_ = "estimaciones-y-proyecciones-2002-2035-comunas.xlsx"
defunciones = path+nom
poblacion = path_+nom_

## Dataframes

### Defunciones

In [4]:
df = pd.read_csv(defunciones, sep=';', encoding='Latin-1')

/usr/local/Cellar/jupyterlab/3.1.14_1/libexec/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (21,58,60,64,67,69,70,71,73,76,82,86,89,90,91,93,96,97,98,99,100) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

### Poblacion

In [5]:
df_ = pd.read_excel(poblacion)

## Crear variable para poder hacer el groupby

In [6]:
df['muerto'] = 1

In [7]:
df_['conteo'] = 1

## Crear variables por quinquenio de edad

### Quinquenio de edad defunciones

In [8]:
choice_list = ['00-04 años','05-09 años','10-14 años',
              '15-19 años', '20-24 años', '25-29 años',
              '30-34 años', '35-39 años', '40-44 años',
              '45-49 años', '50-54 años', '55-59 años',
              '60-64 años', '65-69 años', '70-74 años',
              '75-79 años', '80 y más']
condiciones = [(df['EDAD_TIPO'] >= 2) | (df['EDAD_TIPO'] == 1) & (df['EDAD_CANT'] <= 4),
              (df['EDAD_TIPO'] == 1) & (df['EDAD_CANT'] >= 5) & (df['EDAD_CANT'] <= 9),
              (df['EDAD_TIPO'] == 1) & (df['EDAD_CANT'] >= 10) & (df['EDAD_CANT'] <= 14),
              (df['EDAD_TIPO'] == 1) & (df['EDAD_CANT'] >= 15) & (df['EDAD_CANT'] <= 19),
              (df['EDAD_TIPO'] == 1) & (df['EDAD_CANT'] >= 20) & (df['EDAD_CANT'] <= 24),
              (df['EDAD_TIPO'] == 1) & (df['EDAD_CANT'] >= 25) & (df['EDAD_CANT'] <= 29),
              (df['EDAD_TIPO'] == 1) & (df['EDAD_CANT'] >= 30) & (df['EDAD_CANT'] <= 34),
              (df['EDAD_TIPO'] == 1) & (df['EDAD_CANT'] >= 35) & (df['EDAD_CANT'] <= 39),
              (df['EDAD_TIPO'] == 1) & (df['EDAD_CANT'] >= 40) & (df['EDAD_CANT'] <= 44),
              (df['EDAD_TIPO'] == 1) & (df['EDAD_CANT'] >= 45) & (df['EDAD_CANT'] <= 49),
              (df['EDAD_TIPO'] == 1) & (df['EDAD_CANT'] >= 50) & (df['EDAD_CANT'] <= 54),
              (df['EDAD_TIPO'] == 1) & (df['EDAD_CANT'] >= 55) & (df['EDAD_CANT'] <= 59),
              (df['EDAD_TIPO'] == 1) & (df['EDAD_CANT'] >= 60) & (df['EDAD_CANT'] <= 64),
              (df['EDAD_TIPO'] == 1) & (df['EDAD_CANT'] >= 65) & (df['EDAD_CANT'] <= 69),
              (df['EDAD_TIPO'] == 1) & (df['EDAD_CANT'] >= 70) & (df['EDAD_CANT'] <= 74),
              (df['EDAD_TIPO'] == 1) & (df['EDAD_CANT'] >= 75) & (df['EDAD_CANT'] <= 79),
              (df['EDAD_TIPO'] == 1) & (df['EDAD_CANT'] >= 80)]
df['edad_grupo'] = np.select(condiciones, choice_list, default='Not Specified')

### Quinquenio de edad poblacion

In [9]:
choice_list = ['00-04 años','05-09 años','10-14 años',
              '15-19 años', '20-24 años', '25-29 años',
              '30-34 años', '35-39 años', '40-44 años',
              '45-49 años', '50-54 años', '55-59 años',
              '60-64 años', '65-69 años', '70-74 años',
              '75-79 años', '80 y más']
condiciones = [(df_['Edad'] >= 0) & (df_['Edad'] <= 4),
              (df_['Edad'] >= 5) & (df_['Edad'] <= 9),
              (df_['Edad'] >= 10) & (df_['Edad'] <= 14),
              (df_['Edad'] >= 15) & (df_['Edad'] <= 19),
              (df_['Edad'] >= 20) & (df_['Edad'] <= 24),
              (df_['Edad'] >= 25) & (df_['Edad'] <= 29),
              (df_['Edad'] >= 30) & (df_['Edad'] <= 34),
              (df_['Edad'] >= 35) & (df_['Edad'] <= 39),
              (df_['Edad'] >= 40) & (df_['Edad'] <= 44),
              (df_['Edad'] >= 45) & (df_['Edad'] <= 49),
              (df_['Edad'] >= 50) & (df_['Edad'] <= 54),
              (df_['Edad'] >= 55) & (df_['Edad'] <= 59),
              (df_['Edad'] >= 60) & (df_['Edad'] <= 64),
              (df_['Edad'] >= 65) & (df_['Edad'] <= 69),
              (df_['Edad'] >= 70) & (df_['Edad'] <= 74),
              (df_['Edad'] >= 75) & (df_['Edad'] <= 79),
              (df_['Edad'] >= 80)]
df_['edad_grupo'] = np.select(condiciones, choice_list, default='Not Specified')

In [10]:
df_

,Region,Nombre Region,Provincia,Nombre Provincia,Comuna,Nombre Comuna,Sexo,Edad,Poblacion 2002,Poblacion 2003,...,Poblacion 2028,Poblacion 2029,Poblacion 2030,Poblacion 2031,Poblacion 2032,Poblacion 2033,Poblacion 2034,Poblacion 2035,conteo,edad_grupo
0,1,Tarapacá,11,Iquique,1101,Iquique,1,0,1469,1395,...,1483,1466,1446,1441,1425,1410,1395,1378,1,00-04 años
1,1,Tarapacá,11,Iquique,1101,Iquique,1,1,1472,1379,...,1489,1470,1454,1434,1429,1413,1397,1383,1,00-04 años
2,1,Tarapacá,11,Iquique,1101,Iquique,1,2,1461,1377,...,1492,1477,1458,1440,1420,1412,1401,1383,1,00-04 años
3,1,Tarapacá,11,Iquique,1101,Iquique,1,3,1464,1376,...,1491,1474,1457,1439,1422,1401,1395,1380,1,00-04 años
4,1,Tarapacá,11,Iquique,1101,Iquique,1,4,1462,1382,...,1489,1472,1456,1438,1418,1403,1383,1376,1,00-04 años
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56047,16,Ñuble,163,Punilla,16305,San Nicolás,2,76,22,24,...,57,59,62,64,67,71,73,75,1,75-79 años
56048,16,Ñuble,163,Punilla,16305,San Nicolás,2,77,22,23,...,52,54,56,58,60,63,67,68,1,75-79 años
56049,16,Ñuble,163,Punilla,16305,San Nicolás,2,78,20,22,...,47,49,50,52,55,57,59,63,1,75-79 años
56050,16,Ñuble,163,Punilla,16305,San Nicolás,2,79,19,20,...,45,47,49,51,53,55,57,60,1,75-79 años
56051,16,Ñuble,163,Punilla,16305,San Nicolás,2,80,93,98,...,342,359,377,397,417,438,461,484,1,80 y más

In [11]:
df_[['edad_grupo','Edad']]

       edad_grupo  Edad
0      00-04 años     0
1      00-04 años     1
2      00-04 años     2
3      00-04 años     3
4      00-04 años     4
...           ...   ...
56047  75-79 años    76
56048  75-79 años    77
56049  75-79 años    78
56050  75-79 años    79
56051    80 y más    80

[56052 rows x 2 columns]

## Recortes de los Dataframes

### Recorte por quinquenios 2010-2012 y 2013-2015

In [12]:
def_20102012 = df.query('ANO_DEF >= 2010 & ANO_DEF <= 2012')
def_20132015 = df.query('ANO_DEF >= 2013 & ANO_DEF <= 2015')

## Mortalidad por todas las causas total país

### Número de muertos

#### Total de muertos país

In [13]:
muertes_1 = def_20102012.groupby('muerto')['ANO_DEF'].count().values.tolist()

In [14]:
muertes_2 = def_20132015.groupby('muerto')['ANO_DEF'].count().values.tolist()

In [15]:
print(f"Muertes 2010-2012: {muertes_1}\n\nMuertes 2013-2015: {muertes_2}")

Muertes 2010-2012: [291626]

Muertes 2013-2015: [305057]

## Población

In [16]:
df_2011 = df_[['Region', 'Nombre Region', 'Comuna', 'Nombre Comuna', 'Sexo', 'Edad', 'edad_grupo', 'Poblacion 2011', 'conteo']]
df_2014 = df_[['Region', 'Nombre Region', 'Comuna', 'Nombre Comuna', 'Sexo', 'Edad', 'edad_grupo', 'Poblacion 2014', 'conteo']]

In [17]:
poblacion_1 = df_2011.groupby('conteo')['Poblacion 2011'].sum().values.tolist()
poblacion_2 = df_2014.groupby('conteo')['Poblacion 2014'].sum().values.tolist()

## Tasa de mortalidad bruta y ajustada país

### Tasa bruta país

In [18]:
datos = {'def_2010_2012':muertes_1, 'pob_2011': poblacion_1, 'def_2013_2015':muertes_2, 'pob_2014':poblacion_2}

In [19]:
mortalidad_pais = pd.DataFrame(datos)

In [20]:
mortalidad_pais['tmb_2010_2012'] = round((mortalidad_pais['def_2010_2012']/3)/mortalidad_pais['pob_2011']*100000,2)
mortalidad_pais['tmb_2013_2015'] = round((mortalidad_pais['def_2013_2015']/3)/mortalidad_pais['pob_2014']*100000,2)

In [21]:
mortalidad_pais

,def_2010_2012,pob_2011,def_2013_2015,pob_2014,tmb_2010_2012,tmb_2013_2015
0,291626,17254159,305057,17787617,563.39,571.67

### Tasa ajustada país

In [22]:
def_20102012_hombres = def_20102012.query('SEXO == 1')
def_20102012_mujeres = def_20102012.query('SEXO == 2')

def_20132015_hombres = def_20102012.query('SEXO == 1')
def_20132015_mujeres = def_20102012.query('SEXO == 2')

In [23]:
a = def_20102012_hombres.groupby(['edad_grupo', 'SEXO'], as_index=False)['muerto'].count()
b = def_20102012_mujeres.groupby(['edad_grupo', 'SEXO'], as_index=False)['muerto'].count()
c = def_20132015_hombres.groupby(['edad_grupo', 'SEXO'], as_index=False)['muerto'].count()
d = def_20132015_mujeres.groupby(['edad_grupo', 'SEXO'], as_index=False)['muerto'].count()

In [24]:
a_ = df_2011.query('Sexo == 1').groupby('edad_grupo', as_index=False)['Poblacion 2011'].sum()
b_ = df_2011.query('Sexo == 2').groupby('edad_grupo', as_index=False)['Poblacion 2011'].sum()
c_ = df_2014.query('Sexo == 1').groupby('edad_grupo', as_index=False)['Poblacion 2014'].sum()
d_ = df_2014.query('Sexo == 2').groupby('edad_grupo', as_index=False)['Poblacion 2014'].sum()

In [25]:
a_ajus = pd.merge(a, a_)
b_ajus = pd.merge(b, b_)
c_ajus = pd.merge(c, c_)
d_ajus = pd.merge(d, d_)

In [26]:
a_ajus['tbm'] = (a_ajus['muerto']/3)/a_ajus['Poblacion 2011']
b_ajus['tbm'] = (b_ajus['muerto']/3)/b_ajus['Poblacion 2011']
c_ajus['tbm'] = (c_ajus['muerto']/3)/c_ajus['Poblacion 2014']
d_ajus['tbm'] = (d_ajus['muerto']/3)/d_ajus['Poblacion 2014']

In [27]:
pob_estandar = [664111,631212,608801,599050,609710,587104,523869,495728,479345,436397,376512,326760,266575,192751,146575,108082,115625]

In [28]:
a_ajus['pob_estandar'] = pob_estandar
b_ajus['pob_estandar'] = pob_estandar
c_ajus['pob_estandar'] = pob_estandar
d_ajus['pob_estandar'] = pob_estandar

In [29]:
a_ajus['muertes_esperadas'] = a_ajus['tbm']*a_ajus['pob_estandar']
b_ajus['muertes_esperadas'] = b_ajus['tbm']*b_ajus['pob_estandar']
c_ajus['muertes_esperadas'] = c_ajus['tbm']*c_ajus['pob_estandar']
d_ajus['muertes_esperadas'] = d_ajus['tbm']*d_ajus['pob_estandar']

In [30]:
a_ajus

,edad_grupo,SEXO,muerto,Poblacion 2011,tbm,pob_estandar,muertes_esperadas
0,00-04 años,1,3521,633340,0.001853,664111,1230.689588
1,05-09 años,1,300,610829,0.000164,631212,103.336940
2,10-14 años,1,411,664750,0.000206,608801,125.469330
3,15-19 años,1,1440,729167,0.000658,599050,394.345877
4,20-24 años,1,2289,744315,0.001025,609710,625.015927
5,25-29 años,1,2304,671355,0.001144,587104,671.620636
6,30-34 años,1,2429,646359,0.001253,523869,656.228608
7,35-39 años,1,3188,628553,0.001691,495728,838.105333
8,40-44 años,1,4252,603028,0.002350,479345,1126.633667
9,45-49 años,1,6189,583032,0.003538,436397,1544.146824
10,50-54 años,1,8019,513808,0.005202,376512,1958.740572
11,55-59 años,1,9818,438299,0.007467,326760,2439.833447
12,60-64 años,1,12219,332825,0.012238,266575,3262.254864
13,65-69 años,1,15436,246303,0.020890,192751,4026.618211
14,70-74 años,1,17274,180435,0.031912,146575,4677.467509
15,75-79 años,1,19732,127269,0.051681,108082,5585.738407
16,80 y más,1,45769,137656,0.110829,115625,12814.650590

In [31]:
total_pob_estandar = 0
for i in pob_estandar:
    total_pob_estandar += i
print(f"Total de poblacion estándar = {total_pob_estandar}")

Total de poblacion estándar = 7168207

In [32]:
muertes_esperadas_1 = a_ajus['muertes_esperadas'].values.tolist()
muertes_esperadas_2 = b_ajus['muertes_esperadas'].values.tolist()
muertes_esperadas_3 = c_ajus['muertes_esperadas'].values.tolist()
muertes_esperadas_4 = d_ajus['muertes_esperadas'].values.tolist()

In [33]:
total_muertes_esperadas_1 = 0
total_muertes_esperadas_2 = 0
total_muertes_esperadas_3 = 0
total_muertes_esperadas_4 = 0

for i in muertes_esperadas_1:
    total_muertes_esperadas_1 += i
    
for i in muertes_esperadas_2:
    total_muertes_esperadas_2 += i
    
for i in muertes_esperadas_3:
    total_muertes_esperadas_3 += i
    
for i in muertes_esperadas_4:
    total_muertes_esperadas_4 += i
    
print(f"muertes esperadas 1 = {total_muertes_esperadas_1}\nmuertes esperadas 2 = {total_muertes_esperadas_2}\nmuertes esperadas 3 = {total_muertes_esperadas_3}\nmuertes esperadas 4 = {total_muertes_esperadas_4}\n")

muertes esperadas 1 = 42080.89633103048
muertes esperadas 2 = 26333.75279347258
muertes esperadas 3 = 38247.72621647114
muertes esperadas 4 = 24039.507727394615

In [34]:
tma_2010_2012 = round((total_muertes_esperadas_1 + total_muertes_esperadas_2)/total_pob_estandar*100000,2)
tma_2013_2015 = round((total_muertes_esperadas_3 + total_muertes_esperadas_4)/total_pob_estandar*100000,2)
print(f"Tasa de mortalidad ajustada país\nquinquenio 2010-2012: {tma_2010_2012}\nTasa de mortalidad ajustada país\nquinquenio 2013-2015: {tma_2013_2015}")

Tasa de mortalidad ajustada país
quinquenio 2010-2012: 954.42
Tasa de mortalidad ajustada país
quinquenio 2013-2015: 868.94

# TABLA MORTALIDAD PAIS

In [35]:
mortalidad_pais['tma_2010_2012'] = tma_2010_2012
mortalidad_pais['tma_2013_2015'] = tma_2013_2015

In [36]:
mortalidad_pais

,def_2010_2012,pob_2011,def_2013_2015,pob_2014,tmb_2010_2012,tmb_2013_2015,tma_2010_2012,tma_2013_2015
0,291626,17254159,305057,17787617,563.39,571.67,954.42,868.94

In [37]:
print(mortalidad_pais.to_latex(index=False))

\begin{tabular}{rrrrrrrr}
\toprule
 def\_2010\_2012 &  pob\_2011 &  def\_2013\_2015 &  pob\_2014 &  tmb\_2010\_2012 &  tmb\_2013\_2015 &  tma\_2010\_2012 &  tma\_2013\_2015 \\
\midrule
        291626 &  17254159 &         305057 &  17787617 &         563.39 &         571.67 &         954.42 &         868.94 \\
\bottomrule
\end{tabular}

# MORTALIDAD POR SEXO EN EL PAIS TODAS LAS CAUSAS

In [38]:
mort_20102012_hombres = def_20102012.query('SEXO == 1').groupby('muerto', as_index=False)['ANO_DEF'].count()
mort_20102012_mujeres = def_20102012.query('SEXO == 2').groupby('muerto', as_index=False)['ANO_DEF'].count()

mort_20132015_hombres = def_20132015.query('SEXO == 1').groupby('muerto', as_index=False)['ANO_DEF'].count()
mort_20132015_mujeres = def_20132015.query('SEXO == 2').groupby('muerto', as_index=False)['ANO_DEF'].count()

In [39]:
pob_2011_hombres = df_.query('Sexo == 1').groupby('conteo', as_index=False)['Poblacion 2011'].sum()
pob_2011_mujeres = df_.query('Sexo == 2').groupby('conteo', as_index=False)['Poblacion 2011'].sum()

pob_2014_hombres = df_.query('Sexo == 1').groupby('conteo', as_index=False)['Poblacion 2014'].sum()
pob_2014_mujeres = df_.query('Sexo == 2').groupby('conteo', as_index=False)['Poblacion 2014'].sum()

In [40]:
mort_20102012_hombres['pob_2011_hom'] = pob_2011_hombres['Poblacion 2011'].values.tolist()[0]
mort_20102012_mujeres['pob_2011_muj'] = pob_2011_mujeres['Poblacion 2011'].values.tolist()[0]

mort_20132015_hombres['pob_2014_hom'] = pob_2014_hombres['Poblacion 2014'].values.tolist()[0]
mort_20132015_mujeres['pob_2014_muj'] = pob_2014_mujeres['Poblacion 2014'].values.tolist()[0]

In [41]:
mort_20102012_hombres['tbm_20102012_hom'] = round((mort_20102012_hombres['ANO_DEF']/3)/mort_20102012_hombres['pob_2011_hom']*100000,2)
mort_20102012_mujeres['tbm_20102012_muj'] = round((mort_20102012_mujeres['ANO_DEF']/3)/mort_20102012_mujeres['pob_2011_muj']*100000,2)

mort_20132015_hombres['tbm_20132015_hom'] = round((mort_20132015_hombres['ANO_DEF']/3)/mort_20132015_hombres['pob_2014_hom']*100000,2)
mort_20132015_mujeres['tbm_20132015_muj'] = round((mort_20132015_mujeres['ANO_DEF']/3)/mort_20132015_mujeres['pob_2014_muj']*100000,2)

In [42]:
mort_20102012_hombres['porc_hom'] = round(mort_20102012_hombres['ANO_DEF']/muertes_1*100,0)
mort_20102012_mujeres['porc_muj'] = round(mort_20102012_mujeres['ANO_DEF']/muertes_1*100,0)

mort_20132015_hombres['porc_hom'] = round(mort_20132015_hombres['ANO_DEF']/muertes_2*100,0)
mort_20132015_mujeres['porc_muj'] = round(mort_20132015_mujeres['ANO_DEF']/muertes_2*100,0)

In [43]:
print(f"tablas de mortalidad \nHombres 2010-2012:\n{mort_20102012_hombres} \
\n\nMujeres 2010-2012:\n{mort_20102012_mujeres}\
\n\nHombres 2013-2015:\n{mort_20132015_hombres}\
\n\nMujeres 2013-2015:\n{mort_20132015_mujeres}")

tablas de mortalidad
Hombres 2010-2012:
   muerto  ANO_DEF  pob_2011_hom  tbm_20102012_hom  porc_hom
0       1   154590       8491323            606.85      53.0

Mujeres 2010-2012:
   muerto  ANO_DEF  pob_2011_muj  tbm_20102012_muj  porc_muj
0       1   137036       8762836            521.28      47.0

Hombres 2013-2015:
   muerto  ANO_DEF  pob_2014_hom  tbm_20132015_hom  porc_hom
0       1   161585       8754428            615.25      53.0

Mujeres 2013-2015:
   muerto  ANO_DEF  pob_2014_muj  tbm_20132015_muj  porc_muj
0       1   143418       9033189            529.23      47.0

### Tasa ajustada país para las tablas país por sexo

In [44]:
def_20102012_hombres = def_20102012.query('SEXO == 1')
def_20102012_mujeres = def_20102012.query('SEXO == 2')

def_20132015_hombres = def_20102012.query('SEXO == 1')
def_20132015_mujeres = def_20102012.query('SEXO == 2')

In [45]:
a = def_20102012_hombres.groupby('edad_grupo', as_index=False)['muerto'].count()
b = def_20102012_mujeres.groupby('edad_grupo', as_index=False)['muerto'].count()
c = def_20132015_hombres.groupby('edad_grupo', as_index=False)['muerto'].count()
d = def_20132015_mujeres.groupby('edad_grupo', as_index=False)['muerto'].count()

In [46]:
a

    edad_grupo  muerto
0   00-04 años    3521
1   05-09 años     300
2   10-14 años     411
3   15-19 años    1440
4   20-24 años    2289
5   25-29 años    2304
6   30-34 años    2429
7   35-39 años    3188
8   40-44 años    4252
9   45-49 años    6189
10  50-54 años    8019
11  55-59 años    9818
12  60-64 años   12219
13  65-69 años   15436
14  70-74 años   17274
15  75-79 años   19732
16    80 y más   45769

In [47]:
a_ = df_2011.query('Sexo == 1').groupby('edad_grupo', as_index=False)['Poblacion 2011'].sum()
b_ = df_2011.query('Sexo == 2').groupby('edad_grupo', as_index=False)['Poblacion 2011'].sum()
c_ = df_2014.query('Sexo == 1').groupby('edad_grupo', as_index=False)['Poblacion 2014'].sum()
d_ = df_2014.query('Sexo == 2').groupby('edad_grupo', as_index=False)['Poblacion 2014'].sum()

In [48]:
a_

    edad_grupo  Poblacion 2011
0   00-04 años          633340
1   05-09 años          610829
2   10-14 años          664750
3   15-19 años          729167
4   20-24 años          744315
5   25-29 años          671355
6   30-34 años          646359
7   35-39 años          628553
8   40-44 años          603028
9   45-49 años          583032
10  50-54 años          513808
11  55-59 años          438299
12  60-64 años          332825
13  65-69 años          246303
14  70-74 años          180435
15  75-79 años          127269
16    80 y más          137656

In [49]:
a_ajus = pd.merge(a, a_)
b_ajus = pd.merge(b, b_)
c_ajus = pd.merge(c, c_)
d_ajus = pd.merge(d, d_)

In [50]:
a_ajus['tbm'] = (a_ajus['muerto']/3)/a_ajus['Poblacion 2011']
b_ajus['tbm'] = (b_ajus['muerto']/3)/b_ajus['Poblacion 2011']
c_ajus['tbm'] = (c_ajus['muerto']/3)/c_ajus['Poblacion 2014']
d_ajus['tbm'] = (d_ajus['muerto']/3)/d_ajus['Poblacion 2014']

In [51]:
pob_estandar = [664111,631212,608801,599050,609710,587104,523869,495728,479345,436397,376512,326760,266575,192751,146575,108082,115625]

In [52]:
a_ajus['pob_estandar'] = pob_estandar
b_ajus['pob_estandar'] = pob_estandar
c_ajus['pob_estandar'] = pob_estandar
d_ajus['pob_estandar'] = pob_estandar

In [53]:
a_ajus['muertes_esperadas'] = a_ajus['tbm']*a_ajus['pob_estandar']
b_ajus['muertes_esperadas'] = b_ajus['tbm']*b_ajus['pob_estandar']
c_ajus['muertes_esperadas'] = c_ajus['tbm']*c_ajus['pob_estandar']
d_ajus['muertes_esperadas'] = d_ajus['tbm']*d_ajus['pob_estandar']

In [54]:
a_ajus

,edad_grupo,muerto,Poblacion 2011,tbm,pob_estandar,muertes_esperadas
0,00-04 años,3521,633340,0.001853,664111,1230.689588
1,05-09 años,300,610829,0.000164,631212,103.336940
2,10-14 años,411,664750,0.000206,608801,125.469330
3,15-19 años,1440,729167,0.000658,599050,394.345877
4,20-24 años,2289,744315,0.001025,609710,625.015927
5,25-29 años,2304,671355,0.001144,587104,671.620636
6,30-34 años,2429,646359,0.001253,523869,656.228608
7,35-39 años,3188,628553,0.001691,495728,838.105333
8,40-44 años,4252,603028,0.002350,479345,1126.633667
9,45-49 años,6189,583032,0.003538,436397,1544.146824
10,50-54 años,8019,513808,0.005202,376512,1958.740572
11,55-59 años,9818,438299,0.007467,326760,2439.833447
12,60-64 años,12219,332825,0.012238,266575,3262.254864
13,65-69 años,15436,246303,0.020890,192751,4026.618211
14,70-74 años,17274,180435,0.031912,146575,4677.467509
15,75-79 años,19732,127269,0.051681,108082,5585.738407
16,80 y más,45769,137656,0.110829,115625,12814.650590

In [55]:
total_pob_estandar = 0
for i in pob_estandar:
    total_pob_estandar += i
print(f"Total de poblacion estándar = {total_pob_estandar}")

Total de poblacion estándar = 7168207

In [56]:
muertes_esperadas_1 = a_ajus['muertes_esperadas'].values.tolist()
muertes_esperadas_2 = b_ajus['muertes_esperadas'].values.tolist()
muertes_esperadas_3 = c_ajus['muertes_esperadas'].values.tolist()
muertes_esperadas_4 = d_ajus['muertes_esperadas'].values.tolist()

In [57]:
total_muertes_esperadas_1 = 0
total_muertes_esperadas_2 = 0
total_muertes_esperadas_3 = 0
total_muertes_esperadas_4 = 0

for i in muertes_esperadas_1:
    total_muertes_esperadas_1 += i
    
for i in muertes_esperadas_2:
    total_muertes_esperadas_2 += i
    
for i in muertes_esperadas_3:
    total_muertes_esperadas_3 += i
    
for i in muertes_esperadas_4:
    total_muertes_esperadas_4 += i
    
print(f"muertes esperadas 1 = {total_muertes_esperadas_1}\nmuertes esperadas 2 = {total_muertes_esperadas_2}\nmuertes esperadas 3 = {total_muertes_esperadas_3}\nmuertes esperadas 4 = {total_muertes_esperadas_4}\n")

muertes esperadas 1 = 42080.89633103048
muertes esperadas 2 = 26333.75279347258
muertes esperadas 3 = 38247.72621647114
muertes esperadas 4 = 24039.507727394615

In [58]:
tma_2010_2012_hombres = round(total_muertes_esperadas_1/total_pob_estandar*100000,2)
tma_2010_2012_mujeres = round(total_muertes_esperadas_2/total_pob_estandar*100000,2)
print(f"Tasa de mortalidad ajustada hombres país\ntrienio 2010-2012: {tma_2010_2012_hombres}\nTasa de mortalidad ajustada mujeres país\ntrienio 2010-2012: {tma_2010_2012_mujeres}")

Tasa de mortalidad ajustada hombres país
trienio 2010-2012: 587.05
Tasa de mortalidad ajustada mujeres país
trienio 2010-2012: 367.37

In [59]:
tma_2013_2015_hombres = round(total_muertes_esperadas_3/total_pob_estandar*100000,2)
tma_2013_2015_mujeres = round(total_muertes_esperadas_4/total_pob_estandar*100000,2)
print(f"Tasa de mortalidad ajustada hombres país\ntrienio 2013-2015: {tma_2013_2015_hombres}\nTasa de mortalidad mujeres ajustada país\ntrienio 2013-2015: {tma_2013_2015_mujeres}")

Tasa de mortalidad ajustada hombres país
trienio 2013-2015: 533.57
Tasa de mortalidad mujeres ajustada país
trienio 2013-2015: 335.36

In [60]:
mort_20102012_hombres['tma_hombres'] = tma_2010_2012_hombres
mort_20102012_mujeres['tma_mujeres'] = tma_2010_2012_mujeres

mort_20132015_hombres['tma_hombres'] = tma_2013_2015_hombres
mort_20132015_mujeres['tma_mujeres'] = tma_2013_2015_mujeres

In [61]:
print(f"tablas de mortalidad \nHombres 2010-2012:\n{mort_20102012_hombres} \
\n\nMujeres 2010-2012:\n{mort_20102012_mujeres}\
\n\nHombres 2013-2015:\n{mort_20132015_hombres}\
\n\nMujeres 2013-2015:\n{mort_20132015_mujeres}")

tablas de mortalidad
Hombres 2010-2012:
   muerto  ANO_DEF  pob_2011_hom  tbm_20102012_hom  porc_hom  tma_hombres
0       1   154590       8491323            606.85      53.0       587.05

Mujeres 2010-2012:
   muerto  ANO_DEF  pob_2011_muj  tbm_20102012_muj  porc_muj  tma_mujeres
0       1   137036       8762836            521.28      47.0       367.37

Hombres 2013-2015:
   muerto  ANO_DEF  pob_2014_hom  tbm_20132015_hom  porc_hom  tma_hombres
0       1   161585       8754428            615.25      53.0       533.57

Mujeres 2013-2015:
   muerto  ANO_DEF  pob_2014_muj  tbm_20132015_muj  porc_muj  tma_mujeres
0       1   143418       9033189            529.23      47.0       335.36

In [62]:
mort_20102012_hombres = mort_20102012_hombres.rename(columns={'ANO_DEF':'num_def_hombres'})
mort_20102012_mujeres = mort_20102012_mujeres.rename(columns={'ANO_DEF':'num_def_mujeres'})

mort_20132015_hombres = mort_20132015_hombres.rename(columns={'ANO_DEF':'num_def_hombres'})
mort_20132015_mujeres = mort_20132015_mujeres.rename(columns={'ANO_DEF':'num_def_mujeres'})

In [63]:
mort_20102012_sexo = pd.merge(mort_20102012_hombres, mort_20102012_mujeres)
mort_20132015_sexo = pd.merge(mort_20132015_hombres, mort_20132015_mujeres)

In [64]:
print(f"tablas de mortalidad \npor sexo 2010-2012:\n{mort_20102012_sexo} \
\n\npor sexo 2013-2015:\n{mort_20132015_sexo}")

tablas de mortalidad
por sexo 2010-2012:
   muerto  num_def_hombres  pob_2011_hom  tbm_20102012_hom  porc_hom  \
0       1           154590       8491323            606.85      53.0

   tma_hombres  num_def_mujeres  pob_2011_muj  tbm_20102012_muj  porc_muj  \
0       587.05           137036       8762836            521.28      47.0

   tma_mujeres
0       367.37

por sexo 2013-2015:
   muerto  num_def_hombres  pob_2014_hom  tbm_20132015_hom  porc_hom  \
0       1           161585       8754428            615.25      53.0

   tma_hombres  num_def_mujeres  pob_2014_muj  tbm_20132015_muj  porc_muj  \
0       533.57           143418       9033189            529.23      47.0

   tma_mujeres
0       335.36

In [65]:
print(mort_20102012_sexo[['num_def_hombres', 'porc_hom', 'tbm_20102012_hom', 'tma_hombres', 'num_def_mujeres','porc_muj','tbm_20102012_muj','tma_mujeres']].to_latex(index=False))

print(mort_20132015_sexo[['num_def_hombres', 'porc_hom', 'tbm_20132015_hom', 'tma_hombres', 'num_def_mujeres','porc_muj','tbm_20132015_muj','tma_mujeres']].to_latex(index=False))

\begin{tabular}{rrrrrrrr}
\toprule
 num\_def\_hombres &  porc\_hom &  tbm\_20102012\_hom &  tma\_hombres &  num\_def\_mujeres &  porc\_muj &  tbm\_20102012\_muj &  tma\_mujeres \\
\midrule
          154590 &      53.0 &            606.85 &       587.05 &           137036 &      47.0 &            521.28 &       367.37 \\
\bottomrule
\end{tabular}

\begin{tabular}{rrrrrrrr}
\toprule
 num\_def\_hombres &  porc\_hom &  tbm\_20132015\_hom &  tma\_hombres &  num\_def\_mujeres &  porc\_muj &  tbm\_20132015\_muj &  tma\_mujeres \\
\midrule
          161585 &      53.0 &            615.25 &       533.57 &           143418 &      47.0 &            529.23 &       335.36 \\
\bottomrule
\end{tabular}

# Mortalidad por todas las causas por región

In [66]:
mort_20102012 = def_20102012.query('REG_RES != 99').groupby('REG_RES', as_index=False)['muerto'].count()
mort_20132015 = def_20132015.query('REG_RES != 99').groupby('REG_RES', as_index=False)['muerto'].count()

mort_20102012 = mort_20102012.rename(columns={'REG_RES': 'Region'})
mort_20132015 = mort_20132015.rename(columns={'REG_RES': 'Region'})

In [67]:
print(f"mortalidad por región 2010-2012 \n {mort_20102012} \
\n\n mortalidad por region 2013-2015 \n {mort_20132015} ")

mortalidad por región 2010-2012
     Region  muerto
0        1    3899
1        2    8289
2        3    4301
3        4   11584
4        5   34301
5        6   15155
6        7   18713
7        8   26732
8        9   18104
9       10   14491
10      11    1802
11      12    2971
12      13  110616
13      14    7754
14      15    3418
15      16    9496

 mortalidad por region 2013-2015
     Region  muerto
0        1    4285
1        2    8984
2        3    4492
3        4   12372
4        5   36142
5        6   15934
6        7   19068
7        8   28197
8        9   18884
9       10   15296
10      11    1474
11      12    3088
12      13  115488
13      14    7709
14      15    3701
15      16    9922

In [68]:
pob_2011_region = df_.groupby(['Region', 'Nombre Region'], as_index=False)['Poblacion 2011'].sum()
pob_2014_region = df_.groupby(['Region', 'Nombre Region'], as_index=False)['Poblacion 2014'].sum()

In [69]:
mort_20102012 = pd.merge(mort_20102012, pob_2011_region)
mort_20132015 = pd.merge(mort_20132015, pob_2014_region)

In [70]:
print(f"mortalidad por región 2010-2012 \n {mort_20102012} \
\n\n mortalidad por region 2013-2015 \n {mort_20132015} ")

mortalidad por región 2010-2012
     Region  muerto                              Nombre Region  Poblacion 2011
0        1    3899                                   Tarapacá          301143
1        2    8289                                Antofagasta          570307
2        3    4301                                    Atacama          289014
3        4   11584                                   Coquimbo          718763
4        5   34301                                 Valparaíso         1766558
5        6   15155      Libertador General Bernardo O'Higgins          892165
6        7   18713                                      Maule         1024845
7        8   26732                                     Biobío         1576632
8        9   18104                               La Araucanía          956438
9       10   14491                                  Los Lagos          826000
10      11    1802  Aysén del General Carlos Ibáñez del Campo          101247
11      12    2971       Magallanes y de la Antártica Chilena          162448
12      13  110616                  Metropolitana de Santiago         6984240
13      14    7754                                   Los Ríos          384765
14      15    3418                         Arica y Parinacota          218689
15      16    9496                                      Ñuble          480905

 mortalidad por region 2013-2015
     Region  muerto                              Nombre Region  Poblacion 2014
0        1    4285                                   Tarapacá          321678
1        2    8984                                Antofagasta          596155
2        3    4492                                    Atacama          297546
3        4   12372                                   Coquimbo          755432
4        5   36142                                 Valparaíso         1824842
5        6   15934      Libertador General Bernardo O'Higgins          921886
6        7   19068                                      Maule         1056331
7        8   28197                                     Biobío         1607016
8        9   18884                               La Araucanía          975378
9       10   15296                                  Los Lagos          849087
10      11    1474  Aysén del General Carlos Ibáñez del Campo          103446
11      12    3088       Magallanes y de la Antártica Chilena          166475
12      13  115488                  Metropolitana de Santiago         7202595
13      14    7709                                   Los Ríos          391641
14      15    3701                         Arica y Parinacota          227956
15      16    9922                                      Ñuble          490153

In [71]:
mort_20102012['tbm_20102012'] = round((mort_20102012['muerto']/3)/mort_20102012['Poblacion 2011']*100000,2)
mort_20132015['tbm_20132015'] = round((mort_20132015['muerto']/3)/mort_20132015['Poblacion 2014']*100000,2)

In [72]:
print(f"mortalidad por región 2010-2012 \n {mort_20102012} \
\n\n mortalidad por region 2013-2015 \n {mort_20132015} ")

mortalidad por región 2010-2012
     Region  muerto                              Nombre Region  Poblacion 2011  \
0        1    3899                                   Tarapacá          301143
1        2    8289                                Antofagasta          570307
2        3    4301                                    Atacama          289014
3        4   11584                                   Coquimbo          718763
4        5   34301                                 Valparaíso         1766558
5        6   15155      Libertador General Bernardo O'Higgins          892165
6        7   18713                                      Maule         1024845
7        8   26732                                     Biobío         1576632
8        9   18104                               La Araucanía          956438
9       10   14491                                  Los Lagos          826000
10      11    1802  Aysén del General Carlos Ibáñez del Campo          101247
11      12    2971       Magallanes y de la Antártica Chilena          162448
12      13  110616                  Metropolitana de Santiago         6984240
13      14    7754                                   Los Ríos          384765
14      15    3418                         Arica y Parinacota          218689
15      16    9496                                      Ñuble          480905

    tbm_20102012
0         431.58
1         484.48
2         496.05
3         537.22
4         647.23
5         566.23
6         608.64
7         565.17
8         630.95
9         584.79
10        593.27
11        609.63
12        527.93
13        671.75
14        520.98
15        658.20

 mortalidad por region 2013-2015
     Region  muerto                              Nombre Region  Poblacion 2014  \
0        1    4285                                   Tarapacá          321678
1        2    8984                                Antofagasta          596155
2        3    4492                                    Atacama          297546
3        4   12372                                   Coquimbo          755432
4        5   36142                                 Valparaíso         1824842
5        6   15934      Libertador General Bernardo O'Higgins          921886
6        7   19068                                      Maule         1056331
7        8   28197                                     Biobío         1607016
8        9   18884                               La Araucanía          975378
9       10   15296                                  Los Lagos          849087
10      11    1474  Aysén del General Carlos Ibáñez del Campo          103446
11      12    3088       Magallanes y de la Antártica Chilena          166475
12      13  115488                  Metropolitana de Santiago         7202595
13      14    7709                                   Los Ríos          391641
14      15    3701                         Arica y Parinacota          227956
15      16    9922                                      Ñuble          490153

    tbm_20132015
0         444.03
1         502.33
2         503.23
3         545.91
4         660.19
5         576.14
6         601.71
7         584.87
8         645.36
9         600.49
10        474.97
11        618.31
12        534.47
13        656.13
14        541.19
15        674.76

### Tasa ajustada país

In [73]:
def_20102012_hombres = def_20102012.query('SEXO == 1')
def_20102012_mujeres = def_20102012.query('SEXO == 2')

def_20132015_hombres = def_20102012.query('SEXO == 1')
def_20132015_mujeres = def_20102012.query('SEXO == 2')

In [74]:
a = def_20102012_hombres.groupby(['REG_RES','edad_grupo'], as_index=False)['muerto'].count()
b = def_20102012_mujeres.groupby(['REG_RES','edad_grupo'], as_index=False)['muerto'].count()
c = def_20132015_hombres.groupby(['REG_RES','edad_grupo'], as_index=False)['muerto'].count()
d = def_20132015_mujeres.groupby(['REG_RES','edad_grupo'], as_index=False)['muerto'].count()

a = a.rename(columns={'REG_RES':'Region'})
b = b.rename(columns={'REG_RES':'Region'})
c = c.rename(columns={'REG_RES':'Region'})
d = d.rename(columns={'REG_RES':'Region'})

In [75]:
print(f" Largo de a: {a.shape[0]} \n Largo de b {b.shape[0]} \n Largo de c: {c.shape[0]} \n Largo de d: {d.shape[0]}")

 Largo de a: 272
 Largo de b 270
 Largo de c: 272
 Largo de d: 270

In [76]:
edades_grupo = choice_list*16

In [77]:
a_lista = a.values.tolist()
b_lista = b.values.tolist()
c_lista = c.values.tolist()
d_lista = d.values.tolist()

if len(a.values.tolist()) == 272 and len(b.values.tolist()) == 272 and len(c.values.tolist()) == 272 and len(d.values.tolist()) == 272:
    print("todas las listas tienen un largo de 272 !!")
else:
    print("Distintos largos, se buscará cual es el valor que falta y será añadido")
    print(f"Largos antes del procedimiento:\n\nLargo de a\n{len(a.values.tolist())} \n\nLargo de b\n{len(b.values.tolist())} \
    \n\nLargo de c\n{len(c.values.tolist())} \
    \n\nLargo de d\n{len(d.values.tolist())}")
    
    contador=0
    for i in a_lista:
        if i[1] == edades_grupo[contador]:
            contador += 1
        elif i[1] != edades_grupo[contador]:
            valor = [i[0], edades_grupo[contador], 0]
            a_lista.insert(contador, valor)
            contador += 1
    
    contador=0
    for i in b_lista:
        if i[1] == edades_grupo[contador]:
            contador += 1
        elif i[1] != edades_grupo[contador]:
            valor = [i[0], edades_grupo[contador], 0]
            b_lista.insert(contador, valor)
            contador += 1
    contador=0
    for i in c_lista:
        if i[1] == edades_grupo[contador]:
            contador += 1
        elif i[1] != edades_grupo[contador]:
            valor = [i[0], edades_grupo[contador], 0]
            c_lista.insert(contador, valor)
            contador += 1
    contador=0
    for i in d_lista:
        if i[1] == edades_grupo[contador]:
            contador += 1
        elif i[1] != edades_grupo[contador]:
            valor = [i[0], edades_grupo[contador], 0]
            d_lista.insert(contador, valor)
            contador += 1
            
    print(f"\nLargos después del procedimiento:\nLargo de a\n{len(a_lista)} \
    \n\nLargo de b\n{len(b_lista)} \
    \n\nLargo de c\n{len(c_lista)} \
    \n\nLargo de d\n{len(d_lista)}")
    
columnas = ['Region','edad_grupo','muerto']

a = pd.DataFrame(a_lista, columns = columnas)
b = pd.DataFrame(b_lista, columns = columnas)
c = pd.DataFrame(c_lista, columns = columnas)
d = pd.DataFrame(d_lista, columns = columnas)
#df = df.explode('Lista2').reset_index(drop=True)

Distintos largos, se buscará cual es el valor que falta y será añadido
Largos antes del procedimiento:

Largo de a
272

Largo de b
270

Largo de c
272

Largo de d
270

Largos después del procedimiento:
Largo de a
272

Largo de b
272

Largo de c
272

Largo de d
272

In [78]:
a_ = df_2011.query('Sexo == 1').groupby(['Region','edad_grupo'], as_index=False)['Poblacion 2011'].sum()
b_ = df_2011.query('Sexo == 2').groupby(['Region','edad_grupo'], as_index=False)['Poblacion 2011'].sum()
c_ = df_2014.query('Sexo == 1').groupby(['Region','edad_grupo'], as_index=False)['Poblacion 2014'].sum()
d_ = df_2014.query('Sexo == 2').groupby(['Region','edad_grupo'], as_index=False)['Poblacion 2014'].sum()

In [79]:
a_ajus = pd.merge(a, a_)
b_ajus = pd.merge(b, b_)
c_ajus = pd.merge(c, c_)
d_ajus = pd.merge(d, d_)

In [80]:
d_ajus

     Region  edad_grupo  muerto  Poblacion 2014
0         1  00-04 años      61           14175
1         1  05-09 años       2           12538
2         1  10-14 años       4           11686
3         1  15-19 años      13           12151
4         1  20-24 años      15           13102
..      ...         ...     ...             ...
267      16  60-64 años     265           12461
268      16  65-69 años     343           10068
269      16  70-74 años     438            8254
270      16  75-79 años     524            6485
271      16    80 y más    1970            8762

[272 rows x 4 columns]

In [81]:
a_ajus['tbm'] = (a_ajus['muerto']/3)/a_ajus['Poblacion 2011']
b_ajus['tbm'] = (b_ajus['muerto']/3)/b_ajus['Poblacion 2011']
c_ajus['tbm'] = (c_ajus['muerto']/3)/c_ajus['Poblacion 2014']
d_ajus['tbm'] = (d_ajus['muerto']/3)/d_ajus['Poblacion 2014']

In [82]:
pob_estandar = [664111,631212,608801,599050,609710,587104,523869,495728,479345,436397,376512,326760,266575,192751,146575,108082,115625]*16
print(len(pob_estandar))
pob_estandar_ = [664111,631212,608801,599050,609710,587104,523869,495728,479345,436397,376512,326760,266575,192751,146575,108082,115625]

272

In [83]:
a_ajus['pob_estandar'] = pob_estandar
b_ajus['pob_estandar'] = pob_estandar
c_ajus['pob_estandar'] = pob_estandar
d_ajus['pob_estandar'] = pob_estandar

In [84]:
a_ajus['muertes_esperadas'] = a_ajus['tbm']*a_ajus['pob_estandar']
b_ajus['muertes_esperadas'] = b_ajus['tbm']*b_ajus['pob_estandar']
c_ajus['muertes_esperadas'] = c_ajus['tbm']*c_ajus['pob_estandar']
d_ajus['muertes_esperadas'] = d_ajus['tbm']*d_ajus['pob_estandar']

In [85]:
a_ajus

,Region,edad_grupo,muerto,Poblacion 2011,tbm,pob_estandar,muertes_esperadas
0,1,00-04 años,76,13958,0.001815,664111,1205.340689
1,1,05-09 años,8,12141,0.000220,631212,138.640310
2,1,10-14 años,7,12237,0.000191,608801,116.085288
3,1,15-19 años,32,13264,0.000804,599050,481.745074
4,1,20-24 años,47,13125,0.001194,609710,727.780825
...,...,...,...,...,...,...,...
267,16,60-64 años,413,10633,0.012947,266575,3451.377002
268,16,65-69 años,508,8268,0.020481,192751,3947.649895
269,16,70-74 años,612,6373,0.032010,146575,4691.871960
270,16,75-79 años,663,4455,0.049607,108082,5361.643547
271,16,80 y más,1527,4885,0.104197,115625,12047.722620

In [86]:
total_pob_estandar = 0
for i in pob_estandar_:
    total_pob_estandar += i
print(f"Total de poblacion estándar = {total_pob_estandar}")

Total de poblacion estándar = 7168207

In [87]:
muertes_esperadas_1 = a_ajus.groupby(['Region'], as_index=False).sum() # muertes esperadas en hombres 10-12
muertes_esperadas_2 = b_ajus.groupby(['Region'], as_index=False).sum() # muertes esperadas en mujeres 10-12
muertes_esperadas_3 = c_ajus.groupby(['Region'], as_index=False).sum() # muertes esperadas en hombres 13-15
muertes_esperadas_4 = d_ajus.groupby(['Region'], as_index=False).sum() # muertes esperadas en mujeres 13-15

In [88]:
muertes_esperadas_1 = muertes_esperadas_1.rename(columns = {'muertes_esperadas':'muertes_esperadas_hombres'})
muertes_esperadas_2 = muertes_esperadas_2.rename(columns = {'muertes_esperadas':'muertes_esperadas_mujeres'})
muertes_esperadas_3 = muertes_esperadas_3.rename(columns = {'muertes_esperadas':'muertes_esperadas_hombres'})
muertes_esperadas_4 = muertes_esperadas_4.rename(columns = {'muertes_esperadas':'muertes_esperadas_mujeres'})

In [89]:
muertes_esperadas_1 = muertes_esperadas_1[['Region', 'pob_estandar', 'muertes_esperadas_hombres']]
muertes_esperadas_2 = muertes_esperadas_2[['Region', 'pob_estandar', 'muertes_esperadas_mujeres']]
muertes_esperadas_3 = muertes_esperadas_3[['Region', 'pob_estandar', 'muertes_esperadas_hombres']]
muertes_esperadas_4 = muertes_esperadas_4[['Region', 'pob_estandar', 'muertes_esperadas_mujeres']]
tma_20102012 = pd.merge(muertes_esperadas_1, muertes_esperadas_2)
tma_20132015 = pd.merge(muertes_esperadas_3, muertes_esperadas_4)

In [90]:
tma_20102012['muertes_esperadas'] = tma_20102012['muertes_esperadas_hombres'] + tma_20102012['muertes_esperadas_mujeres']
tma_20132015['muertes_esperadas'] = tma_20132015['muertes_esperadas_hombres'] + tma_20132015['muertes_esperadas_mujeres']

In [91]:
tma_20102012['tma_20102012'] = round(tma_20102012['muertes_esperadas']/tma_20102012['pob_estandar']*100000,2)
tma_20132015['tma_20132015'] = round(tma_20132015['muertes_esperadas']/tma_20132015['pob_estandar']*100000,2)

In [92]:
print(f"TMA 2010 2012: \n {tma_20102012}\
\n\n TMA 2013 2015 \n {tma_20132015}")

TMA 2010 2012:
     Region  pob_estandar  muertes_esperadas_hombres  \
0        1       7168207               42464.295419
1        2       7168207               47606.609559
2        3       7168207               40735.748079
3        4       7168207               37434.424794
4        5       7168207               41529.651648
5        6       7168207               40588.793615
6        7       7168207               43348.468356
7        8       7168207               42963.186273
8        9       7168207               43470.495202
9       10       7168207               46503.431736
10      11       7168207               53209.103668
11      12       7168207               45022.967981
12      13       7168207               41019.278219
13      14       7168207               46106.118955
14      15       7168207               41512.714719
15      16       7168207               43409.590668

    muertes_esperadas_mujeres  muertes_esperadas  tma_20102012
0                26217.531697       68681.827116        958.15
1                29479.287144       77085.896703       1075.39
2                26599.888902       67335.636981        939.37
3                24652.004899       62086.429693        866.14
4                26121.337772       67650.989420        943.76
5                26481.676004       67070.469619        935.67
6                27846.325437       71194.793793        993.20
7                26719.085579       69682.271852        972.10
8                27506.602435       70977.097636        990.17
9                27191.518956       73694.950692       1028.08
10               32839.260819       86048.364487       1200.42
11               27802.581302       72825.549283       1015.95
12               25430.631328       66449.909547        927.01
13               28899.109704       75005.228659       1046.36
14               26917.886461       68430.601180        954.64
15               27562.278155       70971.868823        990.09

 TMA 2013 2015
     Region  pob_estandar  muertes_esperadas_hombres  \
0        1       7168207               37643.979781
1        2       7168207               43625.765146
2        3       7168207               37190.022636
3        4       7168207               33647.519894
4        5       7168207               37745.072787
5        6       7168207               36619.720701
6        7       7168207               39421.342540
7        8       7168207               39098.913270
8        9       7168207               40047.982591
9       10       7168207               42288.680961
10      11       7168207               47969.699879
11      12       7168207               41378.223992
12      13       7168207               37245.625465
13      14       7168207               42969.729376
14      15       7168207               37333.413195
15      16       7168207               39846.434361

    muertes_esperadas_mujeres  muertes_esperadas  tma_20132015
0                23607.639168       61251.618949        854.49
1                27128.283367       70754.048513        987.05
2                24144.456615       61334.479251        855.65
3                21972.150983       55619.670877        775.92
4                23850.160440       61595.233227        859.28
5                23842.330383       60462.051084        843.48
6                25166.720664       64588.063204        901.04
7                24278.544250       63377.457520        884.15
8                25252.924217       65300.906808        910.98
9                24845.136220       67133.817180        936.55
10               29394.512992       77364.212871       1079.27
11               25477.902351       66856.126343        932.68
12               23378.885290       60624.510756        845.74
13               26549.763481       69519.492857        969.83
14               24085.140203       61418.553397        856.82
15               25109.834385       64956.268746        906.17

In [93]:
mort_20102012 = pd.merge(mort_20102012, tma_20102012)
mort_20132015 = pd.merge(mort_20132015, tma_20132015)

In [94]:
muertos_pais_1 = 0
muerto = mort_20102012['muerto'].values.tolist()
for i in muerto:
    muertos_pais_1 += i
print(muertos_pais_1)

muertos_pais_2 = 0
muerto = mort_20132015['muerto'].values.tolist()
for i in muerto:
    muertos_pais_2 += i
print(muertos_pais_2)
muertos_pais_2 = 305057
print(muertos_pais_2)

291626
305036
305057

In [95]:
mort_20102012['porc_20102012'] = round(mort_20102012['muerto']/muertos_pais_1*100,2)
mort_20132015['porc_20132015'] = round(mort_20132015['muerto']/muertos_pais_2*100,2)

In [96]:
print(f"mortalidad por región 2010-2012 \n {mort_20102012} \
\n\n mortalidad por region 2013-2015 \n {mort_20132015} ")

mortalidad por región 2010-2012
     Region  muerto                              Nombre Region  Poblacion 2011  \
0        1    3899                                   Tarapacá          301143
1        2    8289                                Antofagasta          570307
2        3    4301                                    Atacama          289014
3        4   11584                                   Coquimbo          718763
4        5   34301                                 Valparaíso         1766558
5        6   15155      Libertador General Bernardo O'Higgins          892165
6        7   18713                                      Maule         1024845
7        8   26732                                     Biobío         1576632
8        9   18104                               La Araucanía          956438
9       10   14491                                  Los Lagos          826000
10      11    1802  Aysén del General Carlos Ibáñez del Campo          101247
11      12    2971       Magallanes y de la Antártica Chilena          162448
12      13  110616                  Metropolitana de Santiago         6984240
13      14    7754                                   Los Ríos          384765
14      15    3418                         Arica y Parinacota          218689
15      16    9496                                      Ñuble          480905

    tbm_20102012  pob_estandar  muertes_esperadas_hombres  \
0         431.58       7168207               42464.295419
1         484.48       7168207               47606.609559
2         496.05       7168207               40735.748079
3         537.22       7168207               37434.424794
4         647.23       7168207               41529.651648
5         566.23       7168207               40588.793615
6         608.64       7168207               43348.468356
7         565.17       7168207               42963.186273
8         630.95       7168207               43470.495202
9         584.79       7168207               46503.431736
10        593.27       7168207               53209.103668
11        609.63       7168207               45022.967981
12        527.93       7168207               41019.278219
13        671.75       7168207               46106.118955
14        520.98       7168207               41512.714719
15        658.20       7168207               43409.590668

    muertes_esperadas_mujeres  muertes_esperadas  tma_20102012  porc_20102012
0                26217.531697       68681.827116        958.15           1.34
1                29479.287144       77085.896703       1075.39           2.84
2                26599.888902       67335.636981        939.37           1.47
3                24652.004899       62086.429693        866.14           3.97
4                26121.337772       67650.989420        943.76          11.76
5                26481.676004       67070.469619        935.67           5.20
6                27846.325437       71194.793793        993.20           6.42
7                26719.085579       69682.271852        972.10           9.17
8                27506.602435       70977.097636        990.17           6.21
9                27191.518956       73694.950692       1028.08           4.97
10               32839.260819       86048.364487       1200.42           0.62
11               27802.581302       72825.549283       1015.95           1.02
12               25430.631328       66449.909547        927.01          37.93
13               28899.109704       75005.228659       1046.36           2.66
14               26917.886461       68430.601180        954.64           1.17
15               27562.278155       70971.868823        990.09           3.26

 mortalidad por region 2013-2015
     Region  muerto                              Nombre Region  Poblacion 2014  \
0        1    4285                                   Tarapacá          321678
1        2    8984                                Antofagasta          596155
2        3    4492                                    Atacama          297546
3        4   12372                                   Coquimbo          755432
4        5   36142                                 Valparaíso         1824842
5        6   15934      Libertador General Bernardo O'Higgins          921886
6        7   19068                                      Maule         1056331
7        8   28197                                     Biobío         1607016
8        9   18884                               La Araucanía          975378
9       10   15296                                  Los Lagos          849087
10      11    1474  Aysén del General Carlos Ibáñez del Campo          103446
11      12    3088       Magallanes y de la Antártica Chilena          166475
12      13  115488                  Metropolitana de Santiago         7202595
13      14    7709                                   Los Ríos          391641
14      15    3701                         Arica y Parinacota          227956
15      16    9922                                      Ñuble          490153

    tbm_20132015  pob_estandar  muertes_esperadas_hombres  \
0         444.03       7168207               37643.979781
1         502.33       7168207               43625.765146
2         503.23       7168207               37190.022636
3         545.91       7168207               33647.519894
4         660.19       7168207               37745.072787
5         576.14       7168207               36619.720701
6         601.71       7168207               39421.342540
7         584.87       7168207               39098.913270
8         645.36       7168207               40047.982591
9         600.49       7168207               42288.680961
10        474.97       7168207               47969.699879
11        618.31       7168207               41378.223992
12        534.47       7168207               37245.625465
13        656.13       7168207               42969.729376
14        541.19       7168207               37333.413195
15        674.76       7168207               39846.434361

    muertes_esperadas_mujeres  muertes_esperadas  tma_20132015  porc_20132015
0                23607.639168       61251.618949        854.49           1.40
1                27128.283367       70754.048513        987.05           2.95
2                24144.456615       61334.479251        855.65           1.47
3                21972.150983       55619.670877        775.92           4.06
4                23850.160440       61595.233227        859.28          11.85
5                23842.330383       60462.051084        843.48           5.22
6                25166.720664       64588.063204        901.04           6.25
7                24278.544250       63377.457520        884.15           9.24
8                25252.924217       65300.906808        910.98           6.19
9                24845.136220       67133.817180        936.55           5.01
10               29394.512992       77364.212871       1079.27           0.48
11               25477.902351       66856.126343        932.68           1.01
12               23378.885290       60624.510756        845.74          37.86
13               26549.763481       69519.492857        969.83           2.53
14               24085.140203       61418.553397        856.82           1.21
15               25109.834385       64956.268746        906.17           3.25

In [97]:
print(mort_20102012[['Nombre Region','muerto','porc_20102012','tbm_20102012', 'tma_20102012']].sort_values(by='tma_20102012', ascending=False).to_latex(index=False))

print(mort_20132015[['Nombre Region','muerto','porc_20132015','tbm_20132015', 'tma_20132015']].sort_values(by='tma_20132015', ascending=False).to_latex(index=False))

\begin{tabular}{lrrrr}
\toprule
                            Nombre Region &  muerto &  porc\_20102012 &  tbm\_20102012 &  tma\_20102012 \\
\midrule
Aysén del General Carlos Ibáñez del Campo &    1802 &           0.62 &        593.27 &       1200.42 \\
                              Antofagasta &    8289 &           2.84 &        484.48 &       1075.39 \\
                                 Los Ríos &    7754 &           2.66 &        671.75 &       1046.36 \\
                                Los Lagos &   14491 &           4.97 &        584.79 &       1028.08 \\
     Magallanes y de la Antártica Chilena &    2971 &           1.02 &        609.63 &       1015.95 \\
                                    Maule &   18713 &           6.42 &        608.64 &        993.20 \\
                             La Araucanía &   18104 &           6.21 &        630.95 &        990.17 \\
                                    Ñuble &    9496 &           3.26 &        658.20 &        990.09 \\
                                   Biobío &   26732 &           9.17 &        565.17 &        972.10 \\
                                 Tarapacá &    3899 &           1.34 &        431.58 &        958.15 \\
                       Arica y Parinacota &    3418 &           1.17 &        520.98 &        954.64 \\
                               Valparaíso &   34301 &          11.76 &        647.23 &        943.76 \\
                                  Atacama &    4301 &           1.47 &        496.05 &        939.37 \\
    Libertador General Bernardo O'Higgins &   15155 &           5.20 &        566.23 &        935.67 \\
                Metropolitana de Santiago &  110616 &          37.93 &        527.93 &        927.01 \\
                                 Coquimbo &   11584 &           3.97 &        537.22 &        866.14 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrr}
\toprule
                            Nombre Region &  muerto &  porc\_20132015 &  tbm\_20132015 &  tma\_20132015 \\
\midrule
Aysén del General Carlos Ibáñez del Campo &    1474 &           0.48 &        474.97 &       1079.27 \\
                              Antofagasta &    8984 &           2.95 &        502.33 &        987.05 \\
                                 Los Ríos &    7709 &           2.53 &        656.13 &        969.83 \\
                                Los Lagos &   15296 &           5.01 &        600.49 &        936.55 \\
     Magallanes y de la Antártica Chilena &    3088 &           1.01 &        618.31 &        932.68 \\
                             La Araucanía &   18884 &           6.19 &        645.36 &        910.98 \\
                                    Ñuble &    9922 &           3.25 &        674.76 &        906.17 \\
                                    Maule &   19068 &           6.25 &        601.71 &        901.04 \\
                                   Biobío &   28197 &           9.24 &        584.87 &        884.15 \\
                               Valparaíso &   36142 &          11.85 &        660.19 &        859.28 \\
                       Arica y Parinacota &    3701 &           1.21 &        541.19 &        856.82 \\
                                  Atacama &    4492 &           1.47 &        503.23 &        855.65 \\
                                 Tarapacá &    4285 &           1.40 &        444.03 &        854.49 \\
                Metropolitana de Santiago &  115488 &          37.86 &        534.47 &        845.74 \\
    Libertador General Bernardo O'Higgins &   15934 &           5.22 &        576.14 &        843.48 \\
                                 Coquimbo &   12372 &           4.06 &        545.91 &        775.92 \\
\bottomrule
\end{tabular}

# Separar los df de mortalidad

## Por quinquenios

In [98]:
df_q1 = df.query('ANO_DEF >= 2009 & ANO_DEF <= 2013')
df_q2 = df.query('ANO_DEF >= 2014 & ANO_DEF <= 2018')

## df pais y df_region

In [99]:
df_q1_afta = df_q1.query('REG_RES == 2')
df_q2_afta = df_q2.query('REG_RES == 2')

# GROUPBY

## Groupby por región

In [100]:
region_q1 = df_q1.groupby('REG_RES', as_index = False)['ANO_DEF'].count().rename(columns={'ANO_DEF':'def_q1', 'REG_RES':'Region'}).copy()
region_q2 = df_q2.groupby('REG_RES', as_index = False)['ANO_DEF'].count().rename(columns={'ANO_DEF':'def_q2', 'REG_RES':'Region'}).copy()

In [101]:
def_region = pd.merge(region_q1, region_q2)

In [102]:
def_region

    Region  def_q1  def_q2
0        1    5347    7087
1        2   11172   15390
2        3    5755    7662
3        4   15665   21485
4        5   46063   62288
5        6   20317   27329
6        7   25096   32803
7        8   35988   48190
8        9   24338   32373
9       10   19627   25949
10      11    2295    2495
11      12    3931    5392
12      13  148181  197548
13      14   10259   13272
14      15    4669    6455
15      16   12693   16740

## Groupby por comuna

In [103]:
afta_1 = df_q1_afta.groupby('COMUNA', as_index = False)['ANO_DEF'].count().rename(columns={'ANO_DEF':'def_q1', 'COMUNA':'Comuna'}).copy()
afta_2 = df_q2_afta.groupby('COMUNA', as_index = False)['ANO_DEF'].count().rename(columns={'ANO_DEF':'def_q2', 'COMUNA':'Comuna'}).copy()

In [104]:
def_comuna = pd.merge(afta_1, afta_2)

In [105]:
def_comuna

   Comuna  def_q1  def_q2
0    2101    7319   10099
1    2102     176     220
2    2103      21      18
3    2104     277     374
4    2201    2544    3506
5    2202       2       2
6    2203      79     151
7    2301     713     946
8    2302      41      74

# Poblaciones

## poblacion 2009-2013 y 2014-2018

### por region

In [106]:
#path = "D:\\Datasets\\poblacion\\pob_ine_censo2017_proyecciones.xlsx"
path = "/Users/alvaro/Documents/Data_Science/datasets/poblacion/estimaciones-y-proyecciones-2002-2035-comunas.xlsx"

In [107]:
pob_r = pob.groupby(['Region', 'Nombre Region'], as_index=False).sum()

NameError: name 'pob' is not defined

In [ ]:
años = [2009, 2013]
periodo = años[1] - años[0]

año_variable = 0
for i in range(0, periodo+1):
    #print(i)
    año = años[0] + i 
    print(año)

In [ ]:
pob_r['pob_1'] = pob_r['Poblacion 2009'] + pob_r['Poblacion 2010'] + pob_r['Poblacion 2011'] + pob_r['Poblacion 2012'] + pob_r['Poblacion 2013']
pob_r['pob_2'] = pob_r['Poblacion 2014'] + pob_r['Poblacion 2015'] + pob_r['Poblacion 2016'] + pob_r['Poblacion 2017'] + pob_r['Poblacion 2018']
pob_r = pob_r[['Region', 'Nombre Region','pob_1','pob_2']]

In [ ]:
pob_r

### por comunas

In [ ]:
pob_c = pob.query('Region == 2').groupby(['Comuna', 'Nombre Comuna'], as_index=False).sum()

In [ ]:
pob_c['pob_1'] = pob_c['Poblacion 2009'] + pob_c['Poblacion 2010'] + pob_c['Poblacion 2011'] + pob_c['Poblacion 2012'] + pob_c['Poblacion 2013']
pob_c['pob_2'] = pob_c['Poblacion 2014'] + pob_c['Poblacion 2015'] + pob_c['Poblacion 2016'] + pob_c['Poblacion 2017'] + pob_c['Poblacion 2018']
pob_c = pob_c[['Comuna', 'Nombre Comuna','pob_1','pob_2']]

In [ ]:
pob_c

# Unir los dataframes

In [ ]:
mortalidad_region = pd.merge(def_region, pob_r)
mortalidad_comuna = pd.merge(def_comuna, pob_c)

In [ ]:
mortalidad_region

In [ ]:
mortalidad_comuna

# Cálculo de totales

## Total país

In [ ]:
total = mortalidad_region.values.tolist()

In [ ]:
total_def1 = 0
total_def2 = 0
total_pob1 = 0 
total_pob2 = 0

for i in total:
    total_def1 += i[1]
    total_def2 += i[2]
    total_pob1 += i[4]
    total_pob2 += i[5]
print(f"def 1 {total_def1} \n\ndef 2 {total_def2} \n\npob 1 {total_pob1} \n\npob 2 {total_pob2}")

In [ ]:
datos = {'Region':999, 'def_q1': total_def1, 'def_q2':total_def2, 'Nombre Region': 'Total Pais', 'pob_1':total_pob1 , 'pob_2':total_pob2}
mortalidad_region = mortalidad_region.append(datos, ignore_index=True)

In [ ]:
mortalidad_region

## Total comunas

In [ ]:
total = mortalidad_comuna.values.tolist()

In [ ]:
total_def1 = 0
total_def2 = 0
total_pob1 = 0 
total_pob2 = 0

for i in total:
    total_def1 += i[1]
    total_def2 += i[2]
    total_pob1 += i[4]
    total_pob2 += i[5]
print(f"def 1 {total_def1} \n\ndef 2 {total_def2} \n\npob 1 {total_pob1} \n\npob 2 {total_pob2}")

In [ ]:
datos = {'Comuna':999, 'def_q1': total_def1, 'def_q2':total_def2, 'Nombre Comuna': 'Total Región', 'pob_1':total_pob1 , 'pob_2':total_pob2}
mortalidad_comuna = mortalidad_comuna.append(datos, ignore_index=True)

In [ ]:
mortalidad_comuna

# Cálculo de la tasa de mortalidad

## Por región

In [ ]:
mortalidad_region['tmb_1'] = round((mortalidad_region['def_q1']/5)/(mortalidad_region['pob_1']/5)*100000,2)
mortalidad_region['tmb_2'] = round((mortalidad_region['def_q2']/5)/(mortalidad_region['pob_2']/5)*100000,2)

In [ ]:
mortalidad_region

## Por comuna

In [ ]:
mortalidad_comuna['tmb_1'] = round((mortalidad_comuna['def_q1']/5)/(mortalidad_comuna['pob_1']/5)*100000,2)
mortalidad_comuna['tmb_2'] = round((mortalidad_comuna['def_q2']/5)/(mortalidad_comuna['pob_2']/5)*100000,2)

In [ ]:
mortalidad_comuna